Version: 3.0
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Rearranged Calibrations\6X3 rearrangingNiawg_with_move.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Rearranged Calibrations\depthEvening.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Rearranged Calibrations\intensityForEvening_withDrop.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
3
0 0 0 2 
0.009999999776483 0.009999999776483 0.009999999776483 0.02600000053644 
300 300 300 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
259 285 3
229 273 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
107 659
97 518
92 510
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
3 3
3 6 2
BEGIN_ACTIVE_PLOTS
3
3-Pic Survival
3-Pic-Loading
3-Pic-Rerng-Loading
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
11
loadingdepth Constant 1
1
100
105
10
0
1
60
imagingdepth Constant 1
1
10
60
8
0
1
60
rearrangedepth Constant 1
1
9
30
15
0
1
12
experimenttime Constant 1
1
0
0
1
0
1
10
imagingdepth2 Constant 1
1
15
30
8
0
1
25
pushoutpower Constant 1
1
0
1
10
0
1
0.001
pushouttime Constant 1
1
0
0.4
10
0
1
3
pushoutdepth Variable 1
1
4
50
20
0
1
3
pushoutfreq Constant 1
1
0.2
1.1
8
0
1
1
dropdepth Constant 1
1
0
0
1
0
1
1
spacing Constant 1
1
0
0
1
0
1
4.5
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.7 -0.8 -1.4 1.47507 -0.15 0.5 7 0 0 0.35 0 0.1 0 0 0 0 0 0 0 0.001 0.1 -0.6 0.15 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES
spacing 5MHz (from lowest frequency to highest):
0.1921723 (61 MHz)
0.1475543 (66 MHz)
0.1615029 (71 MHz)
0.1788726 (76 MHz)
0.1602543 (81 MHz)
0.1596435 (86 MHz)

END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
3
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
300
END_REPETITIONS
REARRANGEMENT_INFORMATION
1
1000000
0.5
6e-05
1e-07
2
0
0
1
0
0.001
END_REARRANGEMENT_INFORMATION
