Version: 3.0
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Rearranged Calibrations\6X3 rearrangingNiawg.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Rearranged Calibrations\fullExpPushout_10.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Rearranged Calibrations\scatterExpIntensity.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
3
0 0 0 2 
0.009999999776483 0.009999999776483 0.009999999776483 0.02600000053644 
300 300 300 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
259 285 3
228 272 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
107 533
111 479
102 495
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
3 3
3 6 2
BEGIN_ACTIVE_PLOTS
2
3-Pic Histogram
3-Pic Survival
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
19
loadingdepth Constant 1
1
100
105
10
1
1
65
imagingdepth Constant 1
1
10
60
8
1
1
60
rearrangedepth Constant 1
1
9
30
15
1
1
14.5
imagingdepth2 Constant 1
1
15
45
8
1
1
10
freq_1_to_0 Constant 1
1
-2
1
20
1
1
-0.5789
scattertime Constant 1
1
0.01
0.5
5
1
1
0.4
scatterpower Constant 1
1
0.01
0.2
8
1
1
0.08
scatterdepth Constant 1
1
5
40
10
1
1
15
uwfreq Constant 1
1
-11600
-11700
10
1
1
-11649.3
uwlength Constant 1
1
0
0.04
14
1
1
0.010773
rotatefieldtime Constant 1
1
0.01
3
5
1
1
5
field Constant 1
1
0
0
1
1
1
1
fieldtheta Constant 1
1
0
0
1
1
1
0
fieldphi Constant 1
1
0
0
1
1
1
0
pushoutpower Constant 1
1
0
0
1
1
1
0.1
pushoutdepth Constant 1
1
0
10
5
1
1
2.5
pumptime Constant 1
1
0
0
1
1
1
8
pushouttime Constant 1
1
0
0
1
1
1
5
settletime Constant 1
1
0
10
5
0
1
10
END_VARIABLES
TTLS
0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.4856 -0.3924 -0.6349 0.551 -1.994 1.943 0 0 0 0 0 0.2 0.5 0.068 -0.12 0.08 0 0 0 0.1 0.1 -0.6 0.25 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES
Microwave |1,1> to |2,2>:
- uwFreq = 1020.93
- uwLength = 0.0110238

Microwave |1,0> to |2,0>:
- uwFreq = -5315
- uwLength = 0.03823

Microwave |1,-1> to |2,-2>:
- uwFreq = ???
- uwLength = ???

END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
1000
END_REPETITIONS
REARRANGEMENT_INFORMATION
1
1000000
0.5
6e-05
1e-07
2
0
0
1
0
0.001
END_REARRANGEMENT_INFORMATION
