Master Version: 1.400000
MASTER SCRIPT:
LOCAL Basic Pushout
VARIABLES:
1
pushouttime Constant 1 0 1 0 0 1 
TTLS:
1
1
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
DACS:
1.12
-0.7547
-0.799713
1.47507
-0.149689
-0.09964
6.99997
0
0
0.350037
0
0.099945
1.15997
0
-0.119629
0
0
-0.127716
0
0
-0.069733
0
0.299988
0
REPETITIONS:
100
AGILENTVERSION 1.0
0
CHANNEL 1
-2, , , , , , , ,
CHANNEL 2
-2, , , , , , , ,
AGILENTVERSION 1.0
0
CHANNEL 1
-2, , , , , , , ,
CHANNEL 2
-2, , , , , , , ,
AGILENTVERSION 1.0
0
CHANNEL 1
-2, , , , , , , ,
CHANNEL 2
-2, , , , , , , ,
NOTES:


END CONFIGURATION NOTES
TEKTRONICS1:
CHANNEL1:
0
0



CHANNEL2:
0
0



END TEKTRONICS1
TEKTRONICS2:
CHANNEL1:
0
0



CHANNEL2:
0
0



END TEKTRONICS2
