Version: 3.3
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\New AOMs\Array Prep\9x9-Setup.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\New AOMs\Array Prep\simpleAtomLoad.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\New AOMs\Array Prep\intensityFor6x3.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.009999999776483 0.009999999776483 0.02600000053644 0.02600000053644 
200 200 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
198 260 3
192 254 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
156 352
121 370
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
3 3
9 9 2
BEGIN_ACTIVE_PLOTS
4
2-Pic Histogram #1
0
2-Pic Histogram
0
2-Pic Loading
0
2-Pic Survival
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
2
loadingdepth Constant 1
1
100
105
10
0
1
200
global
imagingdepth Constant 1
1
30
0
1
0
1
180
global
END_VARIABLES
TTLS
0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.4856 -0.3924 -0.6349 0.551 -1.994 1.943 0 0 0 0 0 0.2 0 0 0 0 0 0 0 -0.1 0.1 -0.3 0.25 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES

 
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
1000
0
END_DEBUGGING_OPTIONS
REPETITIONS
500
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
0
1e-06
END_REARRANGEMENT_INFORMATION
