Version: 2.0
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\2-axis Flashing1.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\2-axis flashing hor.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\simpleAtomLoad.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
-2
0
0
1
0
1
0
NONE
NONE
CHANNEL_2
-2
0
0
1
0
1
0
NONE
NONE
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0.1
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
0 0 0 0 
0.025 0.025 0.025 0.025 
200 200 200 200 
END_PICTURE_SETTINGS
PICTURE_MANAGER
0 1000
0 1000
0 1000
0 1000
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
END_DATA_ANALYSIS
VARIABLES
1
loadingpower Constant 1
7
8
7
0
1

END_VARIABLES
TTLS
1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
1.2 -0.755 -0.8 1.47507 -0.15 0.05 7 0 0 0.35 0 0.1 0 0 0 0 0 0 0 0 -0.07 0 0.3 0 
END_DACS
AGILENT
0
CHANNEL_1
-2








CHANNEL_2
-2








END_AGILENT
AGILENT
0
CHANNEL_1
0
0.305







CHANNEL_2
-2








END_AGILENT
AGILENT
0
CHANNEL_1
-2








CHANNEL_2
-2








END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES
Getting two atoms working for these tests
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
END_DEBUGGING_OPTIONS
REPETITIONS
5
END_REPETITIONS
