Version: 2.13
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\calibrations\1 Tone Vertical 1x6 scan.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\calibrations\6 Tone Horizontal 1x6 ramp 7.68MHz.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\calibrations\check survival and pushout microwave.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\calibrations\intensityFor1x6 check survival debug.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.02500000037253 0.02500000037253 0.02600000053644 0.02600000053644 
450 450 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
249 293 3
246 260 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
140 620
140 571
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
3 3
6 1 2
BEGIN_ACTIVE_PLOTS
3
2-Pic Histogram
2-Pic Loading
2-Pic Survival
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
13
loadingdepth Constant 1
1
30
50
10
0
1
pushout10depth Constant 1
1
1
80
10
0
1
ropfrqsidelock Constant 1
1
0
0.8
10
0
1
repumpfreq10 Constant 1
1
0
0
1
0
1
roptime Constant 1
1
10
10
10
0
1
waittime Constant 1
1
130
300
5
0
1
pumpdepth Constant 1
1
2
5
10
0
1
imagingdepth Constant 1
1
17
0
1
0
1
pumpf1time Constant 1
1
0.5
0.5
5
0
1
pump10time Variable 1
1
0
10
20
0
1
repump10pow Constant 1
1
0.05
0.1
10
0
1
uwfreq1122offset Constant 1
1
900
950
10
0
1
uwavetime Constant 1
1
0.016
0.08
10
0
1
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.9 -0.8 -0.5 1.47507 -0.15 -0.1 7 0 0 0.3 0 0.1 0 0 0 0.05 0 0 0 0 0 -0.2 0.25 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES

1
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
30
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
END_REARRANGEMENT_INFORMATION
