Version: 2.12
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\1 Tone for 1x6.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\6 Tone for 1x6.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\flashingAtomLoad.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\intensityFor6x3.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
0 2 2 2 
0.02500000037253 0.02600000053644 0.02600000053644 0.02600000053644 
450 100 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
249 293 3
240 266 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
54 1124
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
5 3
6 1 2
BEGIN_ACTIVE_PLOTS
2
1-Pic Histogram
1-Pic Loading
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
9
loadingdepth Variable 1
1
10
35
8
0
1
imagingdepth Constant 1
1
29.1
60
8
0
1
pgctime Constant 1
1
1
1
5
0
1
flashingloadingdetuning Constant 1
1
-1.5
0
10
0
1
flashingloadingpower Constant 1
1
0.16
0.3
5
0
1
flashingloadingrepumppower Constant 1
1
0.1
0.2
5
0
1
pgcleftfield Constant 1
1
-0.45
0
5
0
1
pgctopfield Constant 1
1
1.95
2.5
10
0
1
pgcfrontfield Constant 1
1
-0.7
0
10
0
1
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.9 -0.755 -0.8 1.47507 -0.15 0.25 7 0 0 0.3 0 0.1 0 0 0 0 0 0 0 0 0 -0.2 0.25 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES

1
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
100
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
END_REARRANGEMENT_INFORMATION
