Version: 2.0
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\SingleVerticalAtMax.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\SingleHorizontalAtMax.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\CollisionalLossCalibration.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
-2








CHANNEL_2
-2








END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0.1000000014901
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.02500000037253 0.02500000037253 0.02600000053644 0.02600000053644 
300 300 100 100 
END_PICTURE_SETTINGS
PICTURE_MANAGER
95 395
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
4 5
1 1 1
END_DATA_ANALYSIS
VARIABLES
1
waittime Variable 1
0
500
5
0
1

END_VARIABLES
TTLS
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_DACS
AGILENT
0
CHANNEL_1
-2








CHANNEL_2
-2








END_AGILENT
AGILENT
0
CHANNEL_1
-2








CHANNEL_2
-2








END_AGILENT
AGILENT
0
CHANNEL_1
-2








CHANNEL_2
-2








END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
0
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
END_DEBUGGING_OPTIONS
REPETITIONS
100
END_REPETITIONS
