Version: 2.5
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Trap Calibrations\3 Tone Vertical.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Trap Calibrations\3 Tone Horizontal.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Trap Calibrations\pushoutFor9.aScript
32
loadingdepth Singleton 55
imagingdepth Singleton 25
pushoutdepth From_Master 0
pushoutfreq Singleton 1
intrappgcdetuning Singleton -4.5
intrappgcpower Singleton 0.225
loadmotrightfield Singleton 1.2
loadmotleftfield Singleton -0.755
loadmottopfield Singleton 0.05
loadmotbottomfield Singleton -0.15
loadmotfrontfield Singleton -0.8
loadmotbackfield Singleton 1.47507
loadmottime Singleton 150
pgctime Singleton 18
pgcdetuning Singleton -1
pgcleftfield Singleton -0.4856
pgcrightfield Singleton 0.4856
pgctopfield Singleton 1.994
pgcbottomfield Singleton -1.994
pgcfrontfield Singleton -0.551
pgcbackfield Singleton 0.551
andorimagetime Singleton 25
imagingpower Singleton 0.14
imagingdetuning Singleton 0.35
pushoutdepth Singleton 0.15
pushoutfreq Singleton 0.6
fieldtheta Singleton 1.5708
fieldphi Singleton 1.5708
rotatefieldtime Singleton 3
imagingflashingdetuning Singleton -0.8
intrappgcdetuning Singleton -4.5
intrappgcpower Singleton 0.225


END CONFIGURATION NOTES
