Version: 4.0
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\DM-Calibration\Single_Atom_Tweezers.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\DM-Calibration\Red_Loading_SCript.mScript
END_SCRIPTS
INTENSITY_AGILENT_AWG
0
CHANNEL_1
4

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\DM-Calibration\Single_Atom_Intensity.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_INTENSITY_AGILENT_AWG
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
9.999999747379e-05
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
0 0 2 2 
0.01999999955297 0 0.02600000053644 0.02600000053644 
380 430 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
195 317 3
201 323 3
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
95 760
95 395
95 395
95 395
0 0 0 0 END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
1
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
CONFIG_PARAMETERS
RANGE-INFO
1
0
1
12
3
loadingdepth Constant 1
0
0
3.2
global
imagingdepth Constant 1
0
0
2.9
global
top_field Constant 1
0
2
0.333
turnonmot
END_CONFIG_PARAMETERS
TTLS
END_TTLS
DACS

END_DACS
TOP_BOTTOM_AGILENT_AWG
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_TOP_BOTTOM_AGILENT_AWG
AXIAL_AGILENT_AWG
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AXIAL_AGILENT_AWG
FLASHING_AGILENT_AWG
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_FLASHING_AGILENT_AWG
MICROWAVE_AGILENT_AWG
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_MICROWAVE_AGILENT_AWG
TOP_BOTTOM_TEKTRONICS_AFG
CHANNEL_1
0
0
0



CHANNEL_2
0
0
0



END_TOP_BOTTOM_TEKTRONICS_AFG
EO_AXIAL_TEKTRONICS_AFG
CHANNEL_1
0
0
0



CHANNEL_2
0
0
0



END_EO_AXIAL_TEKTRONICS_AFG
CONFIGURATION_NOTES

 
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
1000
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1
0.3
0.06
0
1
0
0
0
0
1
Lazy
2
END_REARRANGEMENT_INFORMATION
BASLER_PICTURE_MANAGER
0 395
95 395
95 395
95 395
0 0 0 0 END_BASLER_PICTURE_MANAGER
BASLER_CAMERA_SETTINGS
Continuous-Acquisition
1
493
658
1
4
4
Auto-Exposure-Off
50
0.25
320
7
External-Trigger
END_BASLER_CAMERA_SETTINGS
