Data/
*.tlog
*.ico
*.enc
*.obj
*.pch
*.log
*.pdb
Waveforms-Library/
x64/
ipch/
MFCApplication2/
MFCApplication1/
MFCApplication3/
.vs/
*.fits
*.script
*.nScript
*.cConfig
*.hConfig
*.vConfig
*.mScript
*.catConfig
*.eConfig
*.fits
*.aConfig
*.aScript
*.sConfig
!Profiles/Program Tests/*.script
!Profiles/Program Tests/*.nScript
!Profiles/Program Tests/*.cConfig
!Profiles/Program Tests/*.hConfig
!Profiles/Program Tests/*.vConfig
!Profiles/Program Tests/*.mScript
!Profiles/Program Tests/*.catConfig
!Profiles/Program Tests/*.eConfig
!Profiles/Program Tests/*.aConfig
!Profiles/Program Tests/*.aScript
!Profiles/Program Tests/*.sConfig

!Profiles/Program Tests/*/*.script
!Profiles/Program Tests/*/*.nScript
!Profiles/Program Tests/*/*.cConfig
!Profiles/Program Tests/*/*.hConfig
!Profiles/Program Tests/*/*.vConfig
!Profiles/Program Tests/*/*.mScript
!Profiles/Program Tests/*/*.catConfig
!Profiles/Program Tests/*/*.eConfig
!Profiles/Program Tests/*/*.aConfig
!Profiles/Program Tests/*/*.aScript
!Profiles/Program Tests/*/*.sConfig

!Default Scripts/*.script
!Default Scripts/*.nScript
!Default Scripts/*.cConfig
!Default Scripts/*.hConfig
!Default Scripts/*.vConfig
!Default Scripts/*.mScript
!Default Scripts/*.catConfig
!Default Scripts/*.eConfig
!Default Scripts/*.aConfig
!Default Scripts/*.aScript
!Default Scripts/*.sConfig

Experiment Scripts/Old Scripts (Format No Longer Supported)/
*.res
*.iobj
*.ipdb
*.idb
*.sdf
*.db

Chimera/Packages/32-Bit-Libs/Debug/Andor/*
Chimera/Packages/64-Bit-Libs/Debug/Andor/*
Chimera/Packages/32-Bit-Libs/Release/Andor/*
Chimera/Packages/64-Bit-Libs/Release/Andor/*
Chimera/Packages/32-Bit-Libs/Debug/Andor/*
Chimera/Packages/boost_1_64_0/*
Chimera/Packages/32-Bit-Libs/Debug/HDF5-1.10.1-win32-Debug/*
Chimera/Packages/64-Bit-Libs/Debug/HDF5-1.10.1-win64-Debug/*
Chimera/Packages/32-Bit-Libs/Release/HDF5-1.10.1-win32-Release/*
Chimera/Packages/64-Bit-Libs/Release/HDF5-1.10.1-win64-Release/*
