Version: 3.3
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\New AOMs\Aux-Rearranging\5x5-New-Setup.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\New AOMs\Aux-Rearranging\Imaging_survival.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\New AOMs\Aux-Rearranging\standard.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Video Mode
0.5
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
0 0 2 2 
0.009999999776483 0.009999999776483 0.02600000053644 0.02600000053644 
250 250 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
61 500 1
61 460 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
84 1390
127 355
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
1 1
1 1 4
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
3
loadingdepth Constant 1
1
0
200
10
0
1
150
global
imagingdepth Constant 1
1
100
200
6
0
1
140
global
auxpower Constant 1
1
0
0.18
10
0
1
0.15
global
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.792 -0.55 0.4 1.746 -0.198 0.8 7.1 0 0 0.213176 0 0.26 0 0 0 0 0 0 0 0 0.01 -0.46 0.220935776537 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES
 
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
100
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
0
1e-06
END_REARRANGEMENT_INFORMATION
