Version: 3.6
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Lazy\rerngNiawg.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Lazy\grey_rearrange.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Lazy\RearrangeIntensity.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.01999999955297 0.01999999955297 0.02600000053644 0.02600000053644 
T-File.txt T-File.txt 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
216 307 4
232 331 4
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
179 531
179 461
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
4 3
10 10 2
BEGIN_ACTIVE_PLOTS
1
2-Pic Loading
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
RANGE-INFO
1
1
1
10
6
loadingdepth Constant 1
50
220
170
global
imagingdepth Constant 1
50
250
170
global
loadmottime Constant 1
50
500
500
global
cooling_time Constant 1
10
200
200
d1greylambdaloading
rerngdepth Constant 1
10
200
40
global
imagingdepthfin Constant 1
0
0
20
global
END_VARIABLES
TTLS
0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.4856 -0.45 -0.45 0.551 -1.994 1.943 0 0 0 0 0 0.2 0 0 0 0 0.1 0.2 0.178 0 -0.1 -0.46 0.27 0 
END_DACS
AGILENT
0
CHANNEL_1
-2
5
0
1
2000000
1



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\sweep.aScript
0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0
1
freqscannn

END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
5000
END_REPETITIONS
REARRANGEMENT_INFORMATION
1
1
0.3
0.06
75
2
1
1
1
0
1
Lazy
1
END_REARRANGEMENT_INFORMATION
PICTURE_MANAGER
0 110
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
Basler-Settings
Continuous-Acquisition
200
390
350
200
1
1
Auto-Exposure-Off
1000
0.25
320
10
External-Trigger
