Master Version: 1.1
MASTER SCRIPT:
LOCAL PgcTemperatureCalibration
VARIABLES:
2
imagetime Not_Timelike Constant 1 1 0 1 
flytime Not_Timelike Variable 1 0 10 10 
TTLS:
1
1
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
DACS:
0.755
-0.755
-1.475
1.475
-0.15
0.15
7
0
0
0.35
0
0.1
0
0
0
0
0
0
0
0
-0.07
0
0.3
0
REPETITIONS:
3
AGILENTVERSION 1.0
0
CHANNEL 1
-2, , , , , , , , 
CHANNEL 2
-2, , , , , , , , 
AGILENTVERSION 1.0
0
CHANNEL 1
-2, , , , , , , , 
CHANNEL 2
-2, , , , , , , , 
AGILENTVERSION 1.0
0
CHANNEL 1
-2, , , , , , , , 
CHANNEL 2
-2, , , , , , , , 
NOTES:
Measuring the temperature of the MOT cloud after PGC
END CONFIGURATION NOTES
