Version: 2.13
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\MOT and PGC Calibrations\PGC Calibrations\3x6 Vertical.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\MOT and PGC Calibrations\PGC Calibrations\3x6 Horizontal.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\MOT and PGC Calibrations\PGC Calibrations\pgc Calibration Intensity Script.aScript
44
loaddepth Singleton 85
imgdepth Singleton 70
lowdepth Singleton 0.1
intrappgcdetuning From_Master -4.5
loadmotrightfield Singleton 0.9
loadmotleftfield Singleton -0.8
loadmottopfield Singleton -0.1
loadmotbottomfield Singleton -0.15
loadmotfrontfield Singleton -0.5
loadmotbackfield Singleton 1.47507
loadmottime Singleton 150
pgctime Singleton 25
pgcdetuning Singleton -0.8
pgcleftfield Singleton -0.3924
pgcrightfield Singleton 0.4856
pgctopfield Singleton 1.943
pgcbottomfield Singleton -1.994
pgcfrontfield Singleton -0.6349
pgcbackfield Singleton 0.551
andorimagetime Singleton 25
imagingpower Singleton 0.225
imagingdetuning Singleton 0.3
pushoutdepth Singleton 0.15
pushoutfreq Singleton 1
fieldtheta Singleton 1.57
fieldphi Singleton 1.57
rotatefieldtime Singleton 3
imagingflashingdetuning Singleton -1.5
intrappgcdetuning Singleton -2
intrappgcpower Singleton 0.14
loadmotsidepower Singleton 0.25
loadmotdiagpower Singleton 0.3
imagingrepumppower Singleton 0.2
pushouttime Singleton 0.3
intrappgccoolingtime Singleton 2
loadmotrepumpfreq Singleton -0.2
loadmotmotfreq Singleton 0
pgcloadingsidemotpower Singleton 0.04
pgcloadingdiagmotpower Singleton 0.35
stage1loaddepth Singleton 30
stage2loaddepth Singleton 65
pgcstage1time Singleton 0.1
pgcstage2time Singleton 6
intrappgcrepumppower Singleton 0.1
>>>Enter configuration-level notes here<<<
 
END CONFIGURATION NOTES
