Version: 2.14
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Vertical\6 Tone Vertical 6x1 rearrange ramp 2lambda.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Vertical\1 Tone Horizontal 6x1 rearrange ramp.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Vertical\scatter vertical.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Vertical\intensityFor6x1 check survival rearrange.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
3
0 0 0 2 
0.02500000037253 0.02500000037253 0.02500000037253 0.02600000053644 
450 300 300 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
259 285 3
228 272 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
213 630
0 387
0 437
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
3 3
3 6 2
BEGIN_ACTIVE_PLOTS
4
3-Pic imageHist-2
3-Pic Survival
3-Pic-Loading
3-Pic-Rerng-Loading
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
15
loadingdepth Constant 1
1
5
50
10
0
1
60
pushout10depth Constant 1
1
0
3
10
0
1
1.5
ropfrqsidelock Constant 1
1
-0.5
0
10
0
1
-0.225
repumpfreq10 Constant 1
1
0
0
1
0
1
0
roptime Constant 1
1
10
10
10
0
1
10
pumpdepth Constant 1
1
0
2
10
0
1
2
imagingdepth Constant 1
1
0
100
10
0
1
20
pumpf1time Constant 1
1
0.5
0.5
5
0
1
0.5
pump10time Variable 1
1
0
2
10
0
1
2
repump10pow Constant 1
1
0.001
0.1
10
0
1
0.05
pgcdepth Constant 1
1
0
0
1
0
1
25
uwfreq2211offset Constant 1
1
970
1070
10
0
1
1017.6
uwlen2211 Constant 1
1
0
0.03
10
0
1
0.011
uwfreq1122offset Constant 1
1
970
1070
10
0
1
1017.6
uwlen1122 Constant 1
1
0
0.03
10
0
1
0.011
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.8 -0.8 -1.4 1.47507 -0.15 0.5 7 0 0 0.35 0 0.1 0.76 0 0 0.05 0 0 0 0 -0.2 0.2 0.15 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES

1
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
30
END_REPETITIONS
REARRANGEMENT_INFORMATION
1
1000000
0.5
6e-05
1e-07
2
0
0
1
0
0.001
END_REARRANGEMENT_INFORMATION
