Version: 2.7
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Pushout Calibrations\SingleVerticalAtMax.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Pushout Calibrations\SingleHorizontalAtMax.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Pushout Calibrations\sigma depump test.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
-0.401
0


0



0
---------------------------
0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Pushout Calibrations\pushout.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 0 
0.02600000053644 0.02600000053644 0.02600000053644 0.02600000053644 
300 300 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
259 285 3
241 267 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
281 402
184 295
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
3 3
3 3 2
END_DATA_ANALYSIS
VARIABLES
9
pushouttime Constant 1
0.1
0
0
0
1

depumppulselength Variable 1
0
350
30
0
1

fieldoffset Constant 1
0
0.5
10
0
1

tmp1 Constant 1
0
2
10
0
1

tmp2 Constant 1
0
0
10
0
1

tmp3 Constant 1
0
0
30
0
1

tmp4 Constant 1
0
2
10
0
1

depumpdepth Constant 1
6
40
10
0
1

opfreq Constant 1
-2
0
10
0
1

END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.4 -0.755 -1 1.47507 -0.15 -0.7 7 0 0 0.3 0 0.1 0 0.3 -0.12 0.3 0 -0.127716 0 0 -0.07 0 0.25 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Microwave Polarization Experiment\Microwave Pushout Experiment\microwavePulseCH1.aScript
0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Microwave Polarization Experiment\Microwave Pushout Experiment\modulatedMicrowavePulse2.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
END_DEBUGGING_OPTIONS
REPETITIONS
30
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
END_REARRANGEMENT_INFORMATION
