Version: 2.0
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\singleVerticalWithStaticFlash.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\TwoHorizontalStatic-x-MoveFlash.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\flashTestWithRampDownScript.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
-0.401






C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\rampDownForFlash.aScript
CHANNEL_2
-2








END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0.1
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2
0.025 0.025 0.026 0.026
200 200 100 100
END_PICTURE_SETTINGS
PICTURE_MANAGER
95 395
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
0 0
0 0 0
END_DATA_ANALYSIS
VARIABLES
2
flashingfreq Constant 1
0.5
1
6
0
1

flashdepth Constant 1
1
7.1
6
0
1

END_VARIABLES
TTLS
1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
END_TTLS
DACS
1.2 -0.755 -0.8 1.47507 -0.15 0.05 7 0 0 0.35 0 0.1 0 0 0 0 0 0 0 0 -0.07 0 0.3 0
END_DACS
AGILENT
0
CHANNEL_1
-2








CHANNEL_2
-2








END_AGILENT
AGILENT
0
CHANNEL_1
-2








CHANNEL_2
-2








END_AGILENT
AGILENT
0
CHANNEL_1
-2








CHANNEL_2
-2








END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
0
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
0
1
1
1
1
0
0
1
1
0
END_DEBUGGING_OPTIONS
REPETITIONS
2000
END_REPETITIONS
