Version: 4.10
SCRIPTS
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\BEC-Assembly\New_Lines_Plan\1x11_10.7_Mhz_Spacing.nScript
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\BEC-Assembly\New_Lines_Plan\Top_Hot_Raman_Sideband_Spec_Script.mScript
END_SCRIPTS
INTENSITY_AGILENT_AWG
0
CHANNEL_1
script

0


0



0

0
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\BEC-Assembly\New_Lines_Plan\RamanSpectroscopyIntensity.aScript
1
CHANNEL_2
no_control

0


0



0

0

0
END_INTENSITY_AGILENT_AWG
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0
0
0
25
2
0.01499999966472 0.01499999966472 
2
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0 0 2 2 
150 150 100 100 
0 1 0 1 0 1 0 1 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
240 335 2
229 246 2
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
120 383
120 350
95 395
95 395
0 0 0 0 END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
0
1
5 5
11 1 4
BEGIN_ACTIVE_PLOTS
4
2-Pic Histogram #1
0
2-Pic Histogram
0
2-Pic Loading
0
2-Pic Survival
0
END_ACTIVE_PLOTS
0
END_DATA_ANALYSIS
CONFIG_PARAMETERS
RANGE-INFO
1
1
0
1
40
7
imagingdepth Constant 0
0
0
40
global
pushoutdepth Constant 0
0
0
20
global
uw_spec_mod_khz Variable 0
29
140
82
global
dropdepth Constant 0
0
0
5
global
ramandepth Constant 0
0
0
35
global
loadingdepth Constant 0
0
0
22
global
intraplgmdepth Constant 0
0
0
35
global
END_CONFIG_PARAMETERS
TTLS
END_TTLS
DACS

END_DACS
TOP_BOTTOM_AGILENT_AWG
0
CHANNEL_1
dc
0.2
0


0



0

0

0
CHANNEL_2
dc
2
0


0



0

0

0
END_TOP_BOTTOM_AGILENT_AWG
AXIAL_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_AXIAL_AGILENT_AWG
FLASHING_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_FLASHING_AGILENT_AWG
MICROWAVE_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
dc
0.7
0


0



0

0

0
END_MICROWAVE_AGILENT_AWG
TOP_BOTTOM_TEKTRONICS_AFG
CHANNEL_1
0
1
0
-17
80000000

CHANNEL_2
0
0
0
0
0

END_TOP_BOTTOM_TEKTRONICS_AFG
EO_AXIAL_TEKTRONICS_AFG
CHANNEL_1
1
1
0
-11
90000000

CHANNEL_2
1
1
0
-20
(80e6+108500)

END_EO_AXIAL_TEKTRONICS_AFG
DDS_SYSTEM
1
0 0 d1loadingfreq
100
intraplgmcoolingfreq
100
2
END_DDS_SYSTEM
PIEZO_CONTROLLER_1



0
END_PIEZO_CONTROLLER_1
PIEZO_CONTROLLER_2
133.43
81.66
71.19
1
END_PIEZO_CONTROLLER_2
AI-SYSTEM
0
0
500
1000
END_AI-SYSTEM
MICROWAVE_SYSTEM
0
0
END_MICROWAVE_SYSTEM
CONFIGURATION_NOTES
  
 
  
  
    
   
  
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
4294967295
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
0
1
1
0
0
1
1
200
0
END_DEBUGGING_OPTIONS
REPETITIONS
300
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
0.006
0
1
0
0
0
0
0.001
StandardFlashing
1
END_REARRANGEMENT_INFORMATION
BASLER_PICTURE_MANAGER
0 255
95 395
95 395
95 395
1 0 0 0 END_BASLER_PICTURE_MANAGER
BASLER_CAMERA_SETTINGS
Continuous-Acquisition
1
493
658
1
1
1
Auto-Exposure-Off
100
10
260
1
External-Trigger
END_BASLER_CAMERA_SETTINGS
