Version: 3.5
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\With Grey Loading\10x10-Setup_new.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\With Grey Loading\D1GrayLambdaLoading.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\With Grey Loading\D1GrayLoading.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
0 0 2 2 
0.01999999955297 0.02500000037253 0.02600000053644 0.02600000053644 
100 430 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
216 307 4
232 331 4
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
186 608
161 611
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
4 3
10 10 2
BEGIN_ACTIVE_PLOTS
2
1-Pic Histogram
0
1-Pic Loading
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
RANGE-INFO
1
1
1
10
8
loadingdepth Constant 1
50
220
200
global
imagingdepth Constant 1
50
250
199
global
loadmottime Constant 2
50
500
500
global
rsfreq Constant 1
-1
1
0.158
global
rspow Constant 1
-15
5
5
global
grey_detuning Constant 1
-0.8
1.1
0.25
d1greylambdaloading
cooling_time Constant 1
10
200
200
d1greylambdaloading
d1twototwoppower Constant 1
0.1
0.3
0.178
d1greylambdaloading
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 
END_TTLS
DACS
0.584 -0.664 0.392 1.64 -0.227 0.538 7.1 0 0 0.280659 0 0.26 0 0 0 0 0.1 0.2 0.178 0 0.01 -0.46 0.180743 0 
END_DACS
AGILENT
0
CHANNEL_1
-2
5
0
1
2000000
1



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\sweep.aScript
0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0
1
freqscannn

END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
500
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
0
1e-06
0
END_REARRANGEMENT_INFORMATION
PICTURE_MANAGER
0 110
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
Basler-Settings
Continuous-Acquisition
200
390
350
200
1
1
Auto-Exposure-Off
1000
0.25
320
10
External-Trigger
