Version: 4.10
SCRIPTS
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\BEC-Assembly\New_Lines_Plan\Tunneling\niawgTunnelingHeatingTest.nScript
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\BEC-Assembly\New_Lines_Plan\Tunneling\TunnelingHeatingTest.mScript
END_SCRIPTS
INTENSITY_AGILENT_AWG
0
CHANNEL_1
script
6
1


0



0

0
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\BEC-Assembly\New_Lines_Plan\Tunneling\TunnelingHeatingIntensity.aScript
1
CHANNEL_2
no_control

0


0



0

0

0
END_INTENSITY_AGILENT_AWG
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0.1000000014901
9.999999778196e+22
1
25
2
0.01499999966472 0.01499999966472 
2
END_CAMERA_SETTINGS
PICTURE_SETTINGS
0 0 2 2 
200 200 100 100 
0 1 0 1 0 1 0 1 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
238 335 2
229 246 2
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
120 389
120 389
150 451
95 395
0 0 0 0 END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
0
1
5 6
11 1 4
BEGIN_ACTIVE_PLOTS
4
2-Pic Histogram #1
0
2-Pic Histogram
0
2-Pic Loading
0
2-Pic Survival
0
END_ACTIVE_PLOTS
1
END_DATA_ANALYSIS
CONFIG_PARAMETERS
RANGE-INFO
1
2
1
1
20
1
1
20
11
loadingdepth Constant 0
15
45
0
0
22
global
imagingdepth Constant 0
10
30
0
0
20
global
ramandepth Constant 0
0
0
0
0
35
global
finimagingdepth Constant 0
0
0
0
0
6
global
movedepth Constant 0
0
0
0
0
1
global
tunnelingdepth Constant 0
0
2
0
0
0.25
global
tunnelingtime Constant 0
0
1
0
0
1
global
tunnelbias Constant 0
0.1
0.9
0
0
0.46
global
pushoutdepth Constant 0
0
0
0
0
0.25
global
uw_spec_mod_khz Variable 0
-270
-180
70
150
0
global
ramandepth2 Constant 0
0
0
0
0
6
global
END_CONFIG_PARAMETERS
TTLS
END_TTLS
DACS

END_DACS
TOP_BOTTOM_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
dc
2
0


0



0

0

0
END_TOP_BOTTOM_AGILENT_AWG
AXIAL_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_AXIAL_AGILENT_AWG
FLASHING_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_FLASHING_AGILENT_AWG
MICROWAVE_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_MICROWAVE_AGILENT_AWG
TOP_BOTTOM_TEKTRONICS_AFG
CHANNEL_1
0
1
0
-2
80e6

CHANNEL_2
0
0
0



END_TOP_BOTTOM_TEKTRONICS_AFG
EO_AXIAL_TEKTRONICS_AFG
CHANNEL_1
1
1
0
-11
90e6

CHANNEL_2
1
1
0
-20
(80e6+105500)

END_EO_AXIAL_TEKTRONICS_AFG
DDS_SYSTEM
1
0 0 d1loadingfreq
100
100
100
500
END_DDS_SYSTEM
PIEZO_CONTROLLER_1



0
END_PIEZO_CONTROLLER_1
PIEZO_CONTROLLER_2



0
END_PIEZO_CONTROLLER_2
AI-SYSTEM
0
0
100
1000
END_AI-SYSTEM
MICROWAVE_SYSTEM
1
4
6.834682 + (-0.035) * 0.001
-3.5
6.834682+(-0.05)*0.001
-5
6.83103 + 65 / 1000000
-9.5
6.83103+uw_spec_mod_khz / 1000000
-9.5
END_MICROWAVE_SYSTEM
CONFIGURATION_NOTES
    f             a
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
4294967295
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
50
0
END_DEBUGGING_OPTIONS
REPETITIONS
300
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1
0.3
0.06
0
1
0
0
0
0
1
Lazy
2
END_REARRANGEMENT_INFORMATION
BASLER_PICTURE_MANAGER
0 288
95 395
95 395
95 395
1 0 0 0 END_BASLER_PICTURE_MANAGER
BASLER_CAMERA_SETTINGS
Continuous-Acquisition
100
443
500
50
1
1
Auto-Exposure-Off
50
40
260
1
External-Trigger
END_BASLER_CAMERA_SETTINGS
