Version: 4.0
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\DM-Calibration\5x5_wider_niawg.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\DM-Calibration\Trap-Depth-Measurement.mScript
END_SCRIPTS
INTENSITY_AGILENT_AWG
0
CHANNEL_1
4

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\DM-Calibration\Trap-Depth-Intensity.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_INTENSITY_AGILENT_AWG
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0.1000000014901
9.999999778196e+22
1
-50
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
2 2 2 2 
0.01999999955297 0.01999999955297 0.009999999776483 0.009999999776483 
100 100 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
201 251 3
231 281 3
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
98 715
179 1073
95 395
95 395
0 0 0 0 END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
1
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
CONFIG_PARAMETERS
RANGE-INFO
1
0
1
1
6
loadingdepth Constant 1
0
0
75
global
imagingdepth Constant 1
0
0
74
global
pushoutfreq Constant 1
-0.3
0.7
0
global
pushoutdepth Constant 1
0
0
37.5
global
pushouttime Constant 1
0
0
0.2
global
dropdepth Constant 1
0
0
25
global
END_CONFIG_PARAMETERS
TTLS
END_TTLS
DACS

END_DACS
TOP_BOTTOM_AGILENT_AWG
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_TOP_BOTTOM_AGILENT_AWG
AXIAL_AGILENT_AWG
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AXIAL_AGILENT_AWG
FLASHING_AGILENT_AWG
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_FLASHING_AGILENT_AWG
MICROWAVE_AGILENT_AWG
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_MICROWAVE_AGILENT_AWG
TOP_BOTTOM_TEKTRONICS_AFG
CHANNEL_1
0
0
0



CHANNEL_2
0
0
0



END_TOP_BOTTOM_TEKTRONICS_AFG
EO_AXIAL_TEKTRONICS_AFG
CHANNEL_1
0
0
0



CHANNEL_2
0
0
0



END_EO_AXIAL_TEKTRONICS_AFG
CONFIGURATION_NOTES
   
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
3000
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1
0.3
0.06
0
1
0
0
0
0
1
Lazy
2
END_REARRANGEMENT_INFORMATION
BASLER_PICTURE_MANAGER
0 288
95 395
95 395
95 395
0 0 0 0 END_BASLER_PICTURE_MANAGER
BASLER_CAMERA_SETTINGS
Continuous-Acquisition
241
353
318
221
1
1
Auto-Exposure-Off
100
40
260
1
External-Trigger
END_BASLER_CAMERA_SETTINGS
