Version: 3.2
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\New AOMs\3x3 Rearranging.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\New AOMs\RearrangingTests.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\New AOMs\RearrangingIntensity.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 0 2 
0.009999999776483 0.009999999776483 0.009999999776483 0.02600000053644 
295 295 300 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
199 261 3
190 252 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
141 400
168 406
175 510
175 503
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
11 9
2 1 2
BEGIN_ACTIVE_PLOTS
4
2-Pic Histogram #1
0
2-Pic Histogram
0
2-Pic Loading
0
2-Pic Survival
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
4
loadingdepth Constant 1
1
100
105
10
0
1
30
imagingdepth Constant 1
1
10
60
8
0
1
27
cleantime Constant 1
1
0
0
1
0
1
10
rerngdepth Variable 1
1
10
70
12
0
1
55
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.7 -0.8 -1.4 1.47507 -0.15 0.5 7 0 0 0.35 0 0.2 0 0 0 0 0 0 0 0.001 0.1 -0.6 0.15 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES

END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
150
END_REPETITIONS
REARRANGEMENT_INFORMATION
1
1000000
1
1e-05
1e-07
1
1
1
0
0
0
1
2e-06
END_REARRANGEMENT_INFORMATION
