Version: 2.14
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Vertical\6x3 vertical rearranging.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Vertical\6x3 horizontal rearranging.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Vertical\realRearrangingTest.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Vertical\intensityFor6x3.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 0 2 
0.009999999776483 0.009999999776483 0.009999999776483 0.02600000053644 
300 300 200 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
259 285 3
228 272 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
107 659
174 630
257 617
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
3 3
3 6 2
BEGIN_ACTIVE_PLOTS
1
2-Pic Histogram #1
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
3
loadingdepth Constant 1
1
100
105
10
1
1
60
imagingdepth Constant 1
1
10
60
8
1
1
60
rearrangedepth Variable 1
1
9
30
15
1
1
11
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.7 -0.8 -1.4 1.47507 -0.15 0.5 7 0 0 0.35 0 0.1 0 0 0 0 0 0 0 0 0.1 -0.6 0.15 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES

   
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
400
END_REPETITIONS
REARRANGEMENT_INFORMATION
1
1000000
0.5
6e-05
1e-07
2
0
0
1
0
0.001
END_REARRANGEMENT_INFORMATION
