Version: 3.6
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Tweezer-Calibrations\niawg_simple.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Tweezer-Calibrations\aceTrigScript.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Tweezer-Calibrations\intensityFor6x3.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
0 0 2 2 
0.009999999776483 0.009999999776483 0.02600000053644 0.02600000053644 
250 250 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
150 401 3
150 302 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
115 418
121 625
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
4 3
8 1 2
BEGIN_ACTIVE_PLOTS
2
1-Pic Histogram
0
1-Pic Loading
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
RANGE-INFO
1
1
1
101
3
loadingdepth Constant 1
100
105
40
global
imagingdepth Constant 1
30
0
25
global
rp Variable 1
0
1
1
global
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0 -0.689851 -0.56 0.51 -1.71 2.1 0 0 0 0.290660684302 0 0.26 0 0 0 0 0 0.2 0.3 -0.1 -0.1 -0.46 0.139199675211 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
1000
0
END_DEBUGGING_OPTIONS
REPETITIONS
1
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
Lazy
1e-06
END_REARRANGEMENT_INFORMATION
PICTURE_MANAGER
0 131
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
Basler-Settings
Finite-Acquisition
200
390
350
200
1
1
Auto-Exposure-Off
1000
0.25
320
350
External-Trigger
