Version: 2.14



40
loadmotrightfield Singleton 0.8
loadmotleftfield Singleton -0.8
loadmottopfield Singleton 0.5
loadmotbottomfield Singleton -0.15
loadmotfrontfield Singleton -1.4
loadmotbackfield Singleton 1.47507
loadmottime Singleton 150
pgctime Singleton 10
pgcdetuning Singleton -0.8
pgcleftfield Singleton -0.3924
pgcrightfield Singleton 0.4856
pgctopfield Singleton 1.943
pgcbottomfield Singleton -1.994
pgcfrontfield Singleton -0.6349
pgcbackfield Singleton 0.551
andorimagetime Singleton 25
imagingpower Singleton 0.225
imagingdetuning Singleton 0.3
pushoutdepth Singleton 0.15
pushoutfreq Singleton 1
fieldtheta Singleton 0
fieldphi Singleton 0
imagingflashingdetuning Singleton -1.5
intrappgcdetuning Singleton -2
intrappgcpower Singleton 0.14
loadmotsidepower Singleton 0.15
loadmotdiagpower Singleton 0.35
imagingrepumppower Singleton 0.2
pushouttime Singleton 0.3
intrappgccoolingtime Singleton 2
loadmotrepumpfreq Singleton 0.2
loadmotmotfreq Singleton -0.2
pgcloadingsidemotpower Singleton 0.04
pgcloadingdiagmotpower Singleton 0.25
pgcstage1time Singleton 0.1
pgcstage2time Singleton 6
intrappgcrepumppower Singleton 0.1
field Singleton 3
rotatefieldtime Singleton 3
opticalpumpdepth Singleton 0
>>>Enter configuration-level notes here<<<

END CONFIGURATION NOTES
