Version: 3.1
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Rearranged Calibrations\6X3 Simple Rearrange.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Rearranged Calibrations\realRearrangingTest.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\Rearranged Calibrations\intensityForSimple6x3Rearrange.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 0 2 
0.009999999776483 0.009999999776483 0.009999999776483 0.02600000053644 
325 325 200 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
259 285 3
228 272 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
179 509
141 499
257 617
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
2
3 3
3 6 2
3 5
1 6 2
BEGIN_ACTIVE_PLOTS
2
2-Pic Histogram
0
2-Pic Survival
1
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
4
loadingdepth Constant 1
2
0
0
1
0
1
0
0
0
0
1
60
cleantime Constant 1
2
0
0
1
0
1
0
0
0
0
1
10
rearrangedepth Constant 1
2
10
25
12
0
1
0
0
0
0
1
16.5
imagingdepth Constant 1
2
0
0
1
0
1
0
0
0
0
1
59
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.7 -0.8 -1.4 1.47507 -0.15 0.5 7 0 0 0.35 0 0.2 0 0 0 0 0 0 0 0 0.1 -0.6 0.15 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES

  
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
3000
END_REPETITIONS
REARRANGEMENT_INFORMATION
1
1000000
0.6
6e-05
1e-07
2
1
0
0
0
0.001
END_REARRANGEMENT_INFORMATION
