Version: 3.1
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\New AOMs\Calibrations\Tweezers-Spanning-Bandwidth.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\New AOMs\Calibrations\trapFreqMeasurement.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\One D Photon Scattering Experiment\New AOMs\Calibrations\intensityForFreqMeasurement.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 0 2 
0.009999999776483 0.009999999776483 0.009999999776483 0.02600000053644 
300 300 300 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
204 278 3
210 230 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
157 325
152 369
92 510
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
4 3
11 1 2
BEGIN_ACTIVE_PLOTS
3
2-Pic Histogram
0
2-Pic Loading
0
2-Pic Survival
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
5
loadingdepth Constant 1
1
100
105
10
0
0
40
imagingdepth Constant 1
1
10
60
8
0
0
38.5
pushoutfreq Constant 1
1
0
0
1
0
0
0.9
cleantime Constant 1
1
0
0
1
0
0
10
modfreq Variable 1
1
210000
330000
30
0
0
300000
END_VARIABLES
TTLS
0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.4856 -0.3924 -0.6349 0.551 -1.994 1.943 0 0 0 0 0 0.2 0 0 0 0 0 0 0 0.001 0.1 -0.3 0.25 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
1
0
-7
modfreq

END_TEKTRONICS
CONFIGURATION_NOTES
For these powers, there was a 20db attenuator on the tektronics output to make the modulation smaller (-30dbm modulation was still quite large)
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
200
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.5
6e-05
1e-07
2
0
0
1
0
0.001
END_REARRANGEMENT_INFORMATION
