Version: 4.6
SCRIPTS
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\3x3_load_6x6_exp_niawg.nScript
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\3d_cooling_tof.mScript
END_SCRIPTS
INTENSITY_AGILENT_AWG
0
CHANNEL_1
script

0


0



0

0
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\3d_cool_tof_intensity.aScript
1
CHANNEL_2
no_control

0


0



0

0

0
END_INTENSITY_AGILENT_AWG
CAMERA_SETTINGS
External-Trigger
1
100
Kinetic-Series-Mode
0.330000013113
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
3
0 0 0 0 
9.999999747379e-06 3.500000093482e-05 3.500000093482e-05 1.999999949476e-05 
100 100 100 100 
0 1 1 1 1 1 1 1 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
230 342 1
180 300 1
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
80 1000
95 115
95 115
0 300
0 0 0 0 END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
0
1
3 3
1 1 3
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
CONFIG_PARAMETERS
RANGE-INFO
1
1
1
1
3
9
imagingdepth1 Constant 0
0
0
40
global
loadingdepth Constant 0
0
0
19
global
uw_cooling_mod_khz Constant 0
0
0
108
global
specpulsetime Constant 0
0
0.35
0.036
parent
ramandepth Constant 0
0
0
110
global
tofimagingdepth Constant 0
0
0
110
global
waittime Constant 0
0
0.02
0.005
global
freespacepower Constant 0
0.1
0.3
0.3
freespaceprobeimage
heatingwaittime Variable 0
0
50
0
global
END_CONFIG_PARAMETERS
TTLS
END_TTLS
DACS

END_DACS
TOP_BOTTOM_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\top_power_script.aScript
0
CHANNEL_2
dc
2
0


0



0

0
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\top_power_script.aScript
0
END_TOP_BOTTOM_AGILENT_AWG
AXIAL_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_AXIAL_AGILENT_AWG
FLASHING_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_FLASHING_AGILENT_AWG
MICROWAVE_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\top_power_script.aScript
0
CHANNEL_2
dc
0.7
0


0



0

0

0
END_MICROWAVE_AGILENT_AWG
TOP_BOTTOM_TEKTRONICS_AFG
CHANNEL_1
0
1
0
-13
80000000

CHANNEL_2
0
0
0
0
0

END_TOP_BOTTOM_TEKTRONICS_AFG
EO_AXIAL_TEKTRONICS_AFG
CHANNEL_1
1
1
0
-14
90000000

CHANNEL_2
1
1
0
-18
(80000000+108500)

END_EO_AXIAL_TEKTRONICS_AFG
DDS_SYSTEM
1
0 0 d1loadingfreq
100
intraplgmcoolingfreq
100
2
END_DDS_SYSTEM
PIEZO_CONTROLLER_1



0
END_PIEZO_CONTROLLER_1
PIEZO_CONTROLLER_2
133.27
81.55
71.11
1
END_PIEZO_CONTROLLER_2
CONFIGURATION_NOTES

        
       
 
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
4294967295
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
0
1
1
1
1
0
0
0
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
1500
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
0.006
0
1
0
0
0
0
0.001
StandardFlashing
1
END_REARRANGEMENT_INFORMATION
BASLER_PICTURE_MANAGER
0 255
95 395
95 395
95 395
1 0 0 0 END_BASLER_PICTURE_MANAGER
BASLER_CAMERA_SETTINGS
Continuous-Acquisition
1
493
658
1
1
1
Auto-Exposure-Off
100
10
260
1
External-Trigger
END_BASLER_CAMERA_SETTINGS
