Version: 4.6
SCRIPTS
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\6x6_niawg.nScript
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\coolingtest.mScript
END_SCRIPTS
INTENSITY_AGILENT_AWG
0
CHANNEL_1
script

0


0



0

0
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\two_stage_lambda_intensity.aScript
1
CHANNEL_2
no_control

0


0



0

0

0
END_INTENSITY_AGILENT_AWG
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.01500000059605 0.01500000059605 0.02600000053644 0.02600000053644 
C:\Users\Regal-Lab\Code\Data_Analysis_Control\T_File.txt C:\Users\Regal-Lab\Code\Data_Analysis_Control\T_File.txt 100 100 
0 1 0 1 0 1 0 1 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
259 318 3
208 267 3
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
120 550
120 550
95 395
95 395
0 0 0 0 END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
1
1
3 3
6 6 3
BEGIN_ACTIVE_PLOTS
4
2-Pic Histogram #1
0
2-Pic Histogram
0
2-Pic Loading
0
2-Pic Survival
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
CONFIG_PARAMETERS
RANGE-INFO
1
2
1
1
40
0
1
15
10
imagingdepth Constant 0
0
0
0
0
140
global
pushoutdepth Constant 0
0
0
0
0
50
global
uw_mod Variable 0
70
160
-240
-130
-164
global
dropdepth Constant 0
0
0
0
0
2
global
ramandepthstart Constant 0
0
0
0
0
110
global
loadingdepth Constant 0
0
0
0
0
90
global
pulsetime Constant 0
0
0.2
0
0
0.1
topramanpulse
uw_sbc2 Constant 0
0
0
0
0
113
global
specpulsetime Constant 0
0
0.35
0
0
0.22
parent
ramandepth Constant 0
0
0
0
0
110
global
END_CONFIG_PARAMETERS
TTLS
END_TTLS
DACS

END_DACS
TOP_BOTTOM_AGILENT_AWG
0
CHANNEL_1
script

0


0



0

0
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\top_power_script.aScript
0
CHANNEL_2
dc
2
0


0



0

0
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\top_power_script.aScript
0
END_TOP_BOTTOM_AGILENT_AWG
AXIAL_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_AXIAL_AGILENT_AWG
FLASHING_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_FLASHING_AGILENT_AWG
MICROWAVE_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\top_power_script.aScript
0
CHANNEL_2
dc
0.7
0


0



0

0

0
END_MICROWAVE_AGILENT_AWG
TOP_BOTTOM_TEKTRONICS_AFG
CHANNEL_1
0
1
0
-17
80000000

CHANNEL_2
0
0
0
0
0

END_TOP_BOTTOM_TEKTRONICS_AFG
EO_AXIAL_TEKTRONICS_AFG
CHANNEL_1
1
1
0
-14
90000000

CHANNEL_2
1
1
0
-4
80000000

END_EO_AXIAL_TEKTRONICS_AFG
DDS_SYSTEM
1
0 0 d1loadingfreq
100
intraplgmcoolingfreq
100
2
END_DDS_SYSTEM
PIEZO_CONTROLLER_1



0
END_PIEZO_CONTROLLER_1
PIEZO_CONTROLLER_2
133.27
81.55
71.11
1
END_PIEZO_CONTROLLER_2
CONFIGURATION_NOTES

     
  

s
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
4294967295
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
0
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
200
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
0.006
0
1
0
0
0
0
0.001
StandardFlashing
1
END_REARRANGEMENT_INFORMATION
BASLER_PICTURE_MANAGER
0 255
95 395
95 395
95 395
1 0 0 0 END_BASLER_PICTURE_MANAGER
BASLER_CAMERA_SETTINGS
Continuous-Acquisition
1
493
658
1
1
1
Auto-Exposure-Off
100
10
260
1
External-Trigger
END_BASLER_CAMERA_SETTINGS
