Version: 4.6
SCRIPTS
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\6x6_niawg.nScript
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\Imaging_Survival_Script.mScript
END_SCRIPTS
INTENSITY_AGILENT_AWG
0
CHANNEL_1
script

0


0



0

0
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\Sideband Cooling\Grey_Loading\ImagingSurvivalIntensity.aScript
1
CHANNEL_2
no_control

0


0



0

0

0
END_INTENSITY_AGILENT_AWG
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0.1000000014901
9.999999680286e+37
1
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
9.999999747379e-06 0.01500000059605 0.02600000053644 0.02600000053644 
C:\Users\Regal-Lab\Code\Data_Analysis_Control\T_File.txt C:\Users\Regal-Lab\Code\Data_Analysis_Control\T_File.txt 100 100 
0 1 0 1 0 1 0 1 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
260 319 3
208 267 3
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
60 659
190 651
150 451
95 395
0 0 0 0 END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
0
1
3 3
6 6 3
BEGIN_ACTIVE_PLOTS
4
2-Pic Histogram #1
0
2-Pic Histogram
0
2-Pic Loading
0
2-Pic Survival
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
CONFIG_PARAMETERS
RANGE-INFO
1
1
0
1
10
2
loadingdepth Constant 0
1
45
90
global
imagingdepth Constant 0
0
0
140
global
END_CONFIG_PARAMETERS
TTLS
END_TTLS
DACS

END_DACS
TOP_BOTTOM_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
dc
2
0


0



0

0

0
END_TOP_BOTTOM_AGILENT_AWG
AXIAL_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_AXIAL_AGILENT_AWG
FLASHING_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_FLASHING_AGILENT_AWG
MICROWAVE_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_MICROWAVE_AGILENT_AWG
TOP_BOTTOM_TEKTRONICS_AFG
CHANNEL_1
0
0
0



CHANNEL_2
0
0
0



END_TOP_BOTTOM_TEKTRONICS_AFG
EO_AXIAL_TEKTRONICS_AFG
CHANNEL_1
0
0
0



CHANNEL_2
0
0
0



END_EO_AXIAL_TEKTRONICS_AFG
DDS_SYSTEM
1
0 0 111
100
100
100
500
END_DDS_SYSTEM
PIEZO_CONTROLLER_1



0
END_PIEZO_CONTROLLER_1
PIEZO_CONTROLLER_2



0
END_PIEZO_CONTROLLER_2
CONFIGURATION_NOTES
r
ss
  
   
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
4294967295
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
100
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1
0.3
0.06
0
1
0
0
0
0
1
Lazy
2
END_REARRANGEMENT_INFORMATION
BASLER_PICTURE_MANAGER
0 288
95 395
95 395
95 395
1 0 0 0 END_BASLER_PICTURE_MANAGER
BASLER_CAMERA_SETTINGS
Continuous-Acquisition
100
443
500
50
1
1
Auto-Exposure-Off
50
40
260
1
External-Trigger
END_BASLER_CAMERA_SETTINGS
