Version: 5.12
SCRIPTS
/*NIAWG Script Address:*/ C:/Users/Regal-Lab/Code/Chimera-Control/Profiles/BEC-Assembly/New_Lines_Plan/GSBC/2_Atom/NiawgAdiabaticIntInitPerturbTunneling.nScript
/*Master Script Address:*/ C:/Users/Regal-Lab/Code/Chimera-Control/Profiles/BEC-Assembly/New_Lines_Plan/GSBC/2_Atom/AdiabaticIntensityInitBiasPetTunnelingTopSpec.mScript
END_SCRIPTS
INTENSITY_AGILENT_AWG
/*Synced Option:*/ 0
CHANNEL_1
/*Channel Mode:*/				script
/*DC Level:*/					35
/*DC Calibrated:*/				1
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		C:/Users/Regal-Lab/Code/Chimera-Control/Profiles/BEC-Assembly/New_Lines_Plan/GSBC/2_Atom/AdiabaticIntensityInitSpec.aScript
/*Scripted Arb Calibrated:*/	1
CHANNEL_2
/*Channel Mode:*/				no_control
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
END_INTENSITY_AGILENT_AWG
NIAWG_INFORMATION
/*Control Niawg:*/ 1
/*Niawg Debug Level:*/ -10
END_NIAWG_INFORMATION
REARRANGEMENT_INFORMATION
/*Rearrangement Active?*/	0
/*Flashing Rate:*/			1000000
/*Move Bias:*/				0.3
/*Move Speed:*/				0.006
/*Dead Time:*/				0
/*Static to Moving Ratio:*/	1
/*Output Info?*/			0
/*Output Indv?*/			0
/*Preprogram?*/				0
/*Use Cal?*/				0
/*Final Move Time:*/		0.001
/*Rearrange Mode:*/			Lazy
/*Fast Move Time:*/			1
END_REARRANGEMENT_INFORMATION
CAMERA_SETTINGS
/*Control Andor:*/			1
/*Trigger Mode:*/			External-Trigger
/*EM-Gain Is On:*/			0
/*EM-Gain Level:*/			0
/*Acquisition Mode:*/		Kinetic-Series-Mode
/*Kinetic Cycle Time:*/		0
/*Accumulation Time:*/		0
/*Accumulation Number:*/	0
/*Camera Temperature:*/		25
/*Number of Exposures:*/	2
/*Exposure Times:*/			0.01499999966472 0.01499999966472 
/*Andor Pics Per Rep:*/		2
/*Horizontal Shift Speed:*/	0
/*Vertical Shift Speed:*/	1
/*Frame Transfer Mode:*/	0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
/*Transformation Mode:*/ Fast
/*Color Options:*/ 0 0 0 0 
/*Threshold Settings:*/ 300 300 100 100 
/*Software Accumulation (accum all / Number)*/ 0 1 0 1 0 1 0 1 
/*Pic Scale Factor:*/	50
END_PICTURE_SETTINGS

CAMERA_IMAGE_DIMENSIONS
/*Left:*/ 254
/*Right:*/ 286
/*H-Bin:*/ 3
/*Bottom:*/ 224
/*Top:*/ 238
/*V-Bin:*/ 3
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
/*Slider Locs (Min/Max):*/
120 485
120 473
95 395
95 395
/*Auto-Scale Pics?*/ 0
/*Special >Max Color?*/ 0
/*Special <Min Color?*/ 0
/*Always Show Grid?*/ 0
END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
/*Auto-Threshold Analysis?*/	0
/*Number of Analysis Grids: */	1
/*Grid #1:*/ 
/*Top-Left Corner Row:*/		2
/*Top-Left Corner Column:*/		3
/*Grid Width:*/					2
/*Grid Height:*/				1
/*Pixel Spacing:*/				3
BEGIN_ACTIVE_PLOTS
/*Number of Active Plots:*/ 4
/*Active Plot #1*/
/*Plot Name:*/ 2-Pic Histogram #1
/*Which Grid:*/ 0
/*Active Plot #2*/
/*Plot Name:*/ 2-Pic Histogram
/*Which Grid:*/ 0
/*Active Plot #3*/
/*Plot Name:*/ 2-Pic Loading
/*Which Grid:*/ 0
/*Active Plot #4*/
/*Plot Name:*/ 2-Pic Survival
/*Which Grid:*/ 0
END_ACTIVE_PLOTS
/*Display Grid?*/ 1
/*Auto Bump Analysis?*/ 0
/*Bump Param?*/ "!#EMPTY_STRING#!"
END_DATA_ANALYSIS
IMAGING_PIEZO
/*X-Value:*/ 51.08
/*Y-Value:*/ 0.
/*Z-Value:*/ 70.79
/*Control?*/ 1
END_IMAGING_PIEZO
CONFIG_PARAMETERS
RANGE-INFO
/*# Scan Dimensions:*/	2
/*Dim #1:*/ 
/*Number of Ranges:*/	2
/*Range #1:*/
/*Left-Inclusive?*/		1
/*Right-Inclusive?*/	1
/*# Variations: */		11
/*Range #2:*/
/*Left-Inclusive?*/		1
/*Right-Inclusive?*/	1
/*# Variations: */		11
/*Dim #2:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		1
/*Right-Inclusive?*/	1
/*# Variations: */		5
/*# Variables: */ 		9
/*Variable #0*/
/*Name:*/			tunneltime
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0.005
/*Final Value: */	4
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	1.6
/*Scope:*/			parent

/*Variable #1*/
/*Name:*/			tundumpbias
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0.1
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.015
/*Scope:*/			niawg

/*Variable #2*/
/*Name:*/			resonance
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0.561
/*Final Value: */	0.5655
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.5645
/*Scope:*/			global

/*Variable #3*/
/*Name:*/			loadbias
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0.4
/*Final Value: */	0.8
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.65
/*Scope:*/			niawg

/*Variable #4*/
/*Name:*/			ldumpbias
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0.73
/*Final Value: */	0.86
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.803
/*Scope:*/			niawg

/*Variable #5*/
/*Name:*/			ddumpbias
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0.00175
/*Final Value: */	0.01
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.004
/*Scope:*/			niawg

/*Variable #6*/
/*Name:*/			adiabaticinittime
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0.4
/*Final Value: */	50
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	25
/*Scope:*/			global

/*Variable #7*/
/*Name:*/			perturboffset
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.0025
/*Scope:*/			global

/*Variable #8*/
/*Name:*/			spec_freq
/*Scan-Type:*/		Variable 
/*Scan-Dimension:*/	0
/*Initial Value: */	-210
/*Final Value: */	-90
/*Initial Value: */	70
/*Final Value: */	200
/*Constant Value:*/	0
/*Scope:*/			global

END_CONFIG_PARAMETERS
TTLS
END_TTLS
DACS
END_DACS
TOP_BOTTOM_AGILENT_AWG
/*Synced Option:*/ 0
CHANNEL_1
/*Channel Mode:*/				script
/*DC Level:*/					0.2
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		C:/Users/Regal-Lab/Code/Chimera-Control/Profiles/BEC-Assembly/New_Lines_Plan/GSBC/Top_GSBC_Spec.aScript
/*Scripted Arb Calibrated:*/	1
CHANNEL_2
/*Channel Mode:*/				no_control
/*DC Level:*/					2
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
END_TOP_BOTTOM_AGILENT_AWG
AXIAL_AGILENT_AWG
/*Synced Option:*/ 0
CHANNEL_1
/*Channel Mode:*/				script
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		C:/Users/Regal-Lab/Code/Chimera-Control/Profiles/BEC-Assembly/New_Lines_Plan/GSBC/Bot_GSBC.aScript
/*Scripted Arb Calibrated:*/	1
CHANNEL_2
/*Channel Mode:*/				script
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		C:/Users/Regal-Lab/Code/Chimera-Control/Profiles/BEC-Assembly/New_Lines_Plan/GSBC/Ax_GSBC.aScript
/*Scripted Arb Calibrated:*/	1
END_AXIAL_AGILENT_AWG
FLASHING_AGILENT_AWG
/*Synced Option:*/ 0
CHANNEL_1
/*Channel Mode:*/				no_control
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
CHANNEL_2
/*Channel Mode:*/				no_control
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
END_FLASHING_AGILENT_AWG
MICROWAVE_AGILENT_AWG
/*Synced Option:*/ 0
CHANNEL_1
/*Channel Mode:*/				no_control
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
CHANNEL_2
/*Channel Mode:*/				no_control
/*DC Level:*/					0.7
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
END_MICROWAVE_AGILENT_AWG
TOP_BOTTOM_TEKTRONICS_AFG
CHANNEL_1
/*Control?*/	0
/*On?*/			1
/*Fsk?*/		0
/*Power:*/		-2
/*Main Freq:*/	80000000
/*FSK Freq:*/	"!#EMPTY_STRING#!"
CHANNEL_2
/*Control?*/	0
/*On?*/			0
/*Fsk?*/		0
/*Power:*/		0
/*Main Freq:*/	0
/*FSK Freq:*/	"!#EMPTY_STRING#!"
END_TOP_BOTTOM_TEKTRONICS_AFG
EO_AXIAL_TEKTRONICS_AFG
CHANNEL_1
/*Control?*/	1
/*On?*/			1
/*Fsk?*/		0
/*Power:*/		eotekpower
/*Main Freq:*/	90e6
/*FSK Freq:*/	"!#EMPTY_STRING#!"
CHANNEL_2
/*Control?*/	1
/*On?*/			1
/*Fsk?*/		0
/*Power:*/		axtekpower
/*Main Freq:*/	(80e6+axramanoffset)
/*FSK Freq:*/	"!#EMPTY_STRING#!"
END_EO_AXIAL_TEKTRONICS_AFG
DDS_SYSTEM
/*Control?*/ 1
/*Ramp List Size:*/ 1
/*Ramp List Element #1*/
/*Index:*/		0
/*Channel:*/	0
/*Freq1:*/		d1loadingfreq
/*Amp1:*/		100
/*Freq2:*/		intraplgmcoolingfreq
/*Amp2:*/		100
/*Ramp-Time:*/	2
END_DDS_SYSTEM
PIEZO_CONTROLLER_1
/*X-Value:*/ pzttop_x
/*Y-Value:*/ pzttop_y
/*Z-Value:*/ pztax_y
/*Control?*/ 1
END_PIEZO_CONTROLLER_1
PIEZO_CONTROLLER_2
/*X-Value:*/ pzteo_x
/*Y-Value:*/ pzteo_y
/*Z-Value:*/ pztax_x
/*Control?*/ 1
END_PIEZO_CONTROLLER_2
PIEZO_CONTROLLER_3
/*X-Value:*/ pztbot_x
/*Y-Value:*/ pztbot_y
/*Z-Value:*/ 0
/*Control?*/ 1
END_PIEZO_CONTROLLER_3
AI-SYSTEM
/*Query Between Variations?*/ 0
/*Query Continuously?*/ 0
/*Average Number:*/ 1000
/*Contiuous Mode Interval:*/ 1000
END_AI-SYSTEM
MICROWAVE_SYSTEM
/*Control?*/ 1
/*List Size:*/ 4
/*Freq:*/ 6.834682 + (-0.035) * 0.001
/*Power:*/ -3.5
/*Freq:*/ 6.834682 + (intraplgmrepumpfreq)*0.001
/*Power:*/ intraplgmrepumppower
/*Freq:*/ radial_carrier_freq + sbc_cooling_mod / 1e6
/*Power:*/ -9.5
/*Freq:*/ radial_carrier_freq + spec_freq / 1e6
/*Power:*/ -9.5
END_MICROWAVE_SYSTEM
CONFIGURATION_NOTES
tun1: 0.49271
bias res at 0.55875 ? 
tun bias 0.01
ddump 0.004

END_CONFIGURATION_NOTES
MAIN_OPTIONS
/*Randomize Reps?*/ 0
/*Randomize Variations?*/ 1
/*Atom Threshold for Load Skip*/ 4294967295
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
/*Output Agilent Script?*/			0
/*Output Excess Info?*/				0
/*Output Human Niawg Script?*/		0
/*Output Niawg Machine Script?*/	0
/*Show Correction Times?*/			0
/*Show Dacs?*/						0
/*Show Ttls?*/						0
/*Show Read Progress?*/				0
/*Show Write Progress?*/			0
/*Sleep Time:*/						20
/*Output Niawg Waveforms to Text?*/	0
END_DEBUGGING_OPTIONS
REPETITIONS
/*Reps:*/250
END_REPETITIONS
BASLER_PICTURE_MANAGER
/*Slider Locs (Min/Max):*/
5 66
95 395
95 395
95 395
/*Auto-Scale Pics?*/ 1
/*Special >Max Color?*/ 0
/*Special <Min Color?*/ 0
/*Always Show Grid?*/ 0
END_BASLER_PICTURE_MANAGER
BASLER_CAMERA_SETTINGS
/*Basler System Active:*/ 1
Continuous-Acquisition
/*Left:*/ 320
/*Top:*/ 350
/*Right:*/ 420
/*Bottom:*/ 240
/*H-Bin:*/ 1
/*V-Bin:*/ 1
/*Exposure Mode:*/ Auto-Exposure-Off
/*Exposure Time:*/ 250
/*Frame Rate:*/ 10
/*Raw Gain:*/ 260
/*Pics Per Rep:*/ 1
/*Trigger Mode:*/ External-Trigger
END_BASLER_CAMERA_SETTINGS
