Master Version: 1.0
MASTER SCRIPT:
LOCAL simpleTtlScript
VARIABLES:
0
TTLS:
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
DACS:
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
REPETITIONS:
5
NOTES:


END CONFIGURATION NOTES
