QWidget {
    background: @StaticBackground; /*@ErrorColor*/
    color: @ErrorColor;
}

QMainWindow {
    background-color: @StaticBackground;
}

QLabel {
    background: @StaticBackground;
    color: @NeutralTextColor;
    qproperty-alignment: AlignCenter;
    font: bold @DefaultFontSize;
}

QProgressBar {
    text-align: center;
    color: @MainTextColor;
    font: bold @DefaultFontSize;
    background-color: @StaticBackground;
}

QProgressBar::chunk {
    background-color: #cb4b16;
}

QChartView {
    background: @StaticBackground;
}

QHeaderView::section:checked {
    background-color: @ActiveColor;
}

QTextEdit [readOnly="true"], QTextEdit:disabled, QPlainTextEdit, QPlainTextEdit[readOnly="true"], QPlainTextEdit:disabled {
    background: @StaticBackground;
    color: @MainTextColor;
}

QPlainTextEdit#ERROR_STATUS {
    color: @ErrorColor;
}

QPlainTextEdit#EXPERIMENT_STATUS {
    color: @ExpStatusColor;
}


QSlider::groove:vertical {
    background: white;
    position: absolute; /* absolutely position 4px from the left and right of the widget. setting margins on the widget should work too... */
    left: 12px;
    right: 12px;
}

QSlider::handle:vertical {
    height: 10px;
    background: @InteractableBackground;
    margin: 0 -8px; /* expand outside the groove */
}

QTextEdit {
    background: @InteractableBackground;
    color: @MainTextColor;
    font: normal @DefaultFontSize;
}

QLineEdit {
    background: @InteractableBackground;
    font: normal @DefaultFontSize;
    color: @MainTextColor;
    border: 1px solid gray;
}

QLineEdit:disabled, QCheckBox:disabled, QComboBox:disabled, QRadioButton:disabled {
    background: @StaticBackground;
    color: @NeutralTextColor;
}

QChartView, QComboBox, QRadioButton, QCheckBox, QPushButton, QListView {
    background: @InteractableBackground;
    color: @MainTextColor;
    font: bold @DefaultFontSize;
}

QTableView::item:selected:!active, QTableView {
    background: @InteractableBackground;
    color: @MainTextColor;
    font: normal 8pt "Courier New";
}

QTableView::item:selected {
    background: @ActiveColor;
    color: @MainTextColor;
    font: bold 8pt "Courier New";
}

QTableView::item:!enabled {
    background: rgb(20,20,20);
}

QTableCornerButton::section, QHeaderView::section {
    background: @StaticBackground;
    color: @NeutralTextColor;
    qproperty-alignment: AlignCenter;
    font: bold @DefaultFontSize "Courier New";
}

QMenuBar {
    background-color: @InteractableBackground;
    color: rgb(255, 255, 255);
    font: bold @DefaultFontSize;
}

QMenu, QMenu::item {
    background-color: @InteractableBackground;
    color: @MainTextColor;
    font: 10pt;
}

QMenu::item:selected { 
    background-color: #000000;
}

QToolTip {
    border: 1px solid white;
    background-color: @DarkBackground;
    border-radius: 4px;
    color: white;
}


QScrollBar:vertical {
    border: 1px solid rgba(25, 25, 25, 0);
    background: @DarkBackground;
    width: 15px;
    margin: 22px 0 22px 0;
}

QScrollBar::handle:vertical {
    background: @InteractableBackground;
    min-height: 20px;
}

QScrollBar::add-line:vertical {
    border: 2px solid grey;
    background: @InteractableBackground;
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 2px solid grey;
    background: @InteractableBackground;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: black;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QScrollBar:horizontal {
    border: 1px solid rgb(25,25,25,0);
    background: @DarkBackground;
    height: 15px;
    margin: 0px 20px 0 20px;
}

QScrollBar::handle:horizontal {
    background: @InteractableBackground;
    min-width: 20px;
}

QScrollBar::add-line:horizontal {
    border: 2px solid grey;
    background: @InteractableBackground;
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: 2px solid grey;
    background: @InteractableBackground;
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: black;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}
