QWidget {
    background: rgba( 0, 0, 0, 0 );
    color: red;
}

QLabel {
    background: rgb( 25, 25, 25 );
    color: rgba(200, 200, 200, 255);
    qproperty-alignment: AlignCenter;
    font: bold 11pt;
}

QTextEdit[readOnly="true"], QTextEdit:disabled, QPlainTextEdit, QPlainTextEdit[readOnly="true"], QPlainTextEdit:disabled {
    background: rgb( 25, 25, 25 );
    color: rgba( 191, 97, 106, 255 );
}

QTextEdit {
    background: rgb( 40, 40, 40 );
    font: normal 11pt;
}

QLineEdit {
    background: rgb( 40, 40, 40 );
    font: normal 11pt;
    color: rgba( 191, 97, 106, 255 );
}

QLineEdit:disabled, QCheckBox:disabled, QComboBox:disabled, QRadioButton:disabled {
    background: rgb( 25, 25, 25 );
    color: rgba(200, 200, 200, 255);
}


QChartView, QComboBox, QRadioButton, QCheckBox, QPushButton, QListView {
    background: rgb( 40, 40, 40 );
    color: rgba( 191, 97, 106, 255 );
    font: bold 11pt;
}

QTableView::item:selected:!active, QTableView {
    background: rgb( 40, 40, 40 );
    color: rgba( 191, 97, 106, 255 );
    font: normal 8pt "Courier New";
}

QTableView::item:selected {
    background: rgb( 60, 40, 40 );
    color: rgba( 201, 97, 106, 255 );
    font: bold 8pt "Courier New";
}

QTableView::item:!enabled {
    background: rgb(20,20,20);
}

QTableCornerButton::section, QHeaderView::section {
    background: rgb( 25, 25, 25 );
    color: rgba(200, 200, 200, 255);
    qproperty-alignment: AlignCenter;
    font: bold 11pt "Courier New";
}

QMenuBar {
    background-color: rgb( 40, 40, 40 );
    color: rgb(255, 255, 255);
    font: bold 11pt;
}

QMenu, QMenu::item {
    background-color: rgb( 40, 40, 40 );
    color: rgba( 191, 97, 106, 255 );
    font: 10pt;
}

QMenu::item:selected { 
    background-color: #000000;
}


QCheckBox::indicator {
}

QToolTip {
    border: 1px solid white;
    background-color: black;
    border-radius: 4px;
    color: white;
}

QScrollBar:vertical {
    border: 1px solid rgb(25,25,25,0);
    background: rgb(25,25,25);
    width: 15px;
    margin: 22px 0 22px 0;
}

QScrollBar::handle:vertical {
    background: rgb(35,35,35);
    min-height: 20px;
}

QScrollBar::add-line:vertical {
    border: 2px solid grey;
    background: rgb(35,35,35);
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 2px solid grey;
    background: rgb(35,35,35);
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: black;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QScrollBar:horizontal {
    border: 1px solid rgb(25,25,25,0);
    background: rgb(25,25,25);
    height: 15px;
    margin: 0px 20px 0 20px;
}

QScrollBar::handle:horizontal {
    background: rgb(35,35,35);
    min-width: 20px;
}

QScrollBar::add-line:horizontal {
    border: 2px solid grey;
    background: rgb(35,35,35);
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: 2px solid grey;
    background: rgb(35,35,35);
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: black;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}
