Version: 2.12
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\2-Stage 3x6 Vertical.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\2-Stage 3x6 Horizontal.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\2-Stage Loading Test.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\TwoStageLoadIntensityScript.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
0 2 2 2 
0.02500000037253 0.02600000053644 0.02600000053644 0.02600000053644 
450 100 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
249 293 3
240 266 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
136 987
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
3 3
6 3 2
BEGIN_ACTIVE_PLOTS
2
1-Pic Histogram
1-Pic Loading
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
8
loadingdepth Constant 1
1
65
105
8
0
1
imagingdepth Constant 1
1
64
60
8
0
1
pgcstage1time Constant 1
1
0.1
0.1
5
0
1
pgcstage2time Constant 1
1
15
15
5
0
1
loadstage1depth Constant 1
1
30
0
1
0
1
loadstage2depth Constant 1
1
65
0
1
0
1
loadmottime Constant 1
1
100
600
5
0
1
pgcdetuning Variable 1
1
-4
0
5
0
1
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.9 -0.755 -0.8 1.47507 -0.15 0.25 7 0 0 0.3 0 0.1 0 0 0 0 0 0 0 0 0 -0.2 0.25 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES

1
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
100
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
END_REARRANGEMENT_INFORMATION
