Version: 3.0
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\6 Tone Horizontal.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\backgroundLoss.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\intensityFor6x3.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.004999999888241 0.004999999888241 0.02600000053644 0.02600000053644 
200 200 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
249 293 3
241 267 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
87 291
87 291
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
3 3
6 3 2
BEGIN_ACTIVE_PLOTS
3
2-Pic Histogram
2-Pic Loading
2-Pic Survival
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
6
loadingdepth Constant 1
1
74
105
8
1
1
74
imagingdepth Constant 1
1
75
60
8
1
1
73
waittime Variable 1
1
100
2000
3
1
1
2000
andorimagetime Constant 1
1
25
0
1
1
1
25
imagingflashingdetuning Constant 1
1
-1.5
0
1
1
1
-1.5
imagingpower Constant 1
1
0.225
0
1
1
1
0.225
END_VARIABLES
TTLS
1 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.9 -0.8 -0.5 1.47507 -0.15 -0.1 7 0 0 0.3 0 0.1 0 0 0 0.3 0 0 0 0 0 -0.2 0.25 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES

1 
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
50
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
END_REARRANGEMENT_INFORMATION
