Version: 3.5
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\With Grey Loading\flashing_ramp_move.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\With Grey Loading\FlashingTesting.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\With Grey Loading\RearrangeIntensity.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.01999999955297 0.01999999955297 0.02600000053644 0.02600000053644 
340 340 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
216 307 4
232 331 4
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
201 461
201 423
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
4 3
10 10 2
BEGIN_ACTIVE_PLOTS
3
2-Pic Histogram
0
2-Pic Loading
0
2-Pic Survival
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
RANGE-INFO
1
1
1
10
8
loadingdepth Constant 1
50
220
200
global
imagingdepth Constant 1
50
250
199
global
loadmottime Constant 1
50
500
200
global
cooling_time Constant 1
10
200
200
d1greylambdaloading
rerngdepth Constant 1
10
200
200
global
flashtime Constant 1
0.06
1
1
global
initbias Variable 1
0.001
0.1
0.1
global
finbias Constant 1
0
0
0.05
global
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 
END_TTLS
DACS
0.584 -0.664 0.392 1.64 -0.227 0.538 7.1 0 0 0.280659 0 0.26 0 0 0 0 0.1 0.2 0.178 0 0.01 -0.46 0.180743 0 
END_DACS
AGILENT
0
CHANNEL_1
-2
5
0
1
2000000
1



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\sweep.aScript
0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0
1
freqscannn

END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
150
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1
0.3
0.06
75
2
1
1
1
0
1
0
1
0
END_REARRANGEMENT_INFORMATION
PICTURE_MANAGER
0 110
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
Basler-Settings
Continuous-Acquisition
200
390
350
200
1
1
Auto-Exposure-Off
100
0.25
320
10
External-Trigger
