Version: 4.0
SCRIPTS
C:\Users\Mark-Brown\Code\Chimera-Control\Profiles\Functionality Testing\Laptop-Testing\a.nScript
C:\Users\Mark-Brown\Code\Chimera-Control\Profiles\Functionality Testing\Laptop-Testing\simplest.mScript
END_SCRIPTS
INTENSITY_AGILENT_AWG
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_INTENSITY_AGILENT_AWG
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0.1000000014901
0.1000000014901
1
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
2 2 2 2 
-431602080 0.009999999776483 0.009999999776483 0.009999999776483 
350 100 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
1 50 1
1 50 1
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
95 395
95 395
95 395
95 395
1 0 0 0 END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
1
2 2
3 3 1
BEGIN_ACTIVE_PLOTS
2
1-Pic Histogram
0
1-Pic Loading
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
CONFIG_PARAMETERS
RANGE-INFO
1
0
1
100
1
mot_freq Variable 1
0
1
0
turnonmot
END_CONFIG_PARAMETERS
TTLS
END_TTLS
DACS

END_DACS
TOP_BOTTOM_AGILENT_AWG
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_TOP_BOTTOM_AGILENT_AWG
AXIAL_AGILENT_AWG
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AXIAL_AGILENT_AWG
FLASHING_AGILENT_AWG
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_FLASHING_AGILENT_AWG
MICROWAVE_AGILENT_AWG
0
CHANNEL_1
4

0


0



0

0
C:\Users\Mark-Brown\Code\Chimera-Control\Profiles\Functionality Testing\Laptop-Testing\test.aScript
0
CHANNEL_2
-2

0


0



0

0

0
END_MICROWAVE_AGILENT_AWG
TOP_BOTTOM_TEKTRONICS_AFG
CHANNEL_1
0
0
0



CHANNEL_2
0
0
0
0
0
0
END_TOP_BOTTOM_TEKTRONICS_AFG
EO_AXIAL_TEKTRONICS_AFG
CHANNEL_1
0
0
0
0
0
0
CHANNEL_2
0
0
0
0
0
0
END_EO_AXIAL_TEKTRONICS_AFG
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
1000
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1
0.3
0.06
0
1
0
0
0
0
1
Lazy
2
END_REARRANGEMENT_INFORMATION
BASLER_PICTURE_MANAGER
95 395
95 395
95 395
95 395
0 0 0 0 END_BASLER_PICTURE_MANAGER
BASLER_CAMERA_SETTINGS
Continuous-Acquisition
1
512
672
1
4
4
Auto-Exposure-Off
1000
0.25
260
3435973836
Automatic-Software-Trigger
END_BASLER_CAMERA_SETTINGS
