Version: 3.6
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\10x10-Setup_new.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\10x10MicrowaveScript.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\10x10-microwave.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.01999999955297 0.01999999955297 0.02600000053644 0.02600000053644 
430 340 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
216 307 4
232 331 4
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
260 694
396 605
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
4 3
10 10 2
BEGIN_ACTIVE_PLOTS
4
2-Pic Histogram #1
0
2-Pic Histogram
0
2-Pic Loading
0
2-Pic Survival
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
RANGE-INFO
1
1
1
30
8
loadingdepth Constant 1
100
230
220
global
imagingdepth Constant 1
50
250
230
global
pushoutfreq Constant 1
-0.5
1.1
0.6
global
microwavedepth Constant 1
0
0
50
global
uwfreq2211offset Constant 1
970
1110
1010
global
uwlen2211 Constant 1
0
0.1
0.017
global
waveplate Constant 1
85
135
108
global
test Constant 1
0
10
10
global
END_VARIABLES
TTLS
0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 
END_TTLS
DACS
0.4856 -0.34799 -0.5318 0.551 -1.994 2.049 0 0 0 0 0 0.2 0.5 0 -0.12 0 0.1 0.2 0.3 0.3 0.01 0 0.25 0 
END_DACS
AGILENT
0
CHANNEL_1
0
5
0
1
2000000
1



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\sweep.aScript
0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0
1
freqscannn

END_TEKTRONICS
CONFIGURATION_NOTES

END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
200
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
Lazy
1e-06
END_REARRANGEMENT_INFORMATION
PICTURE_MANAGER
0 49
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
Basler-Settings
Continuous-Acquisition
200
390
350
200
1
1
Auto-Exposure-Off
50
12
260
100
External-Trigger
