Version: 3.3
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\10x10-Setup_new.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\ImagingSurvival.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\D1GrayLoading.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.009999999776483 0.009999999776483 0.02600000053644 0.02600000053644 
300 300 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
216 307 4
232 331 4
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
138 513
138 490
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
4 3
10 10 2
BEGIN_ACTIVE_PLOTS
4
2-Pic Histogram #1
0
2-Pic Histogram
0
2-Pic Loading
0
2-Pic Survival
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
6
loadingdepth Constant 1
1
50
230
10
1
1
240
global
imagingdepth Constant 1
1
50
250
10
1
1
150
global
loadmottime Constant 1
1
1
500
10
1
1
500
global
rsfreq Constant 1
1
-40
1
100
1
1
0.15
global
rspow Constant 1
1
-20
5
26
1
1
5
global
pushoutdepth Constant 1
1
0
0
1
1
1
200
global
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 
END_TTLS
DACS
0.742 -0.54 0.43 1.635 -0.258 0.56 7.1 0 0 0.25813442705 0 0.26 0 0 0 0 0.1 -0.2 0.25 0 0.01 -0.46 0.17966968873 0 
END_DACS
AGILENT
0
CHANNEL_1
0
5
0
1
2000000
1



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\sweep.aScript
0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0
1
freqscannn

END_TEKTRONICS
CONFIGURATION_NOTES

END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
1
0
END_DEBUGGING_OPTIONS
REPETITIONS
500
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
0
1e-06
END_REARRANGEMENT_INFORMATION
