Version: 2.0
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\3 Tone Vertical.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\3 Tone Horizontal.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\simpleAtomLoad.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
0
0
1
0
1
0
NONE
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\intensityFor9.aScript
CHANNEL_2
-2
0
0
1
0
1
0
NONE
NONE
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
1000
1000000000
2
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 0 0 
0.02500000037253 0.02500000037253 0.02500000037253 0.02500000037253 
300 200 200 200 
END_PICTURE_SETTINGS
PICTURE_MANAGER
0 1000
0 1000
0 1000
0 1000
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
5 5
3 3 2
END_DATA_ANALYSIS
VARIABLES
0
END_VARIABLES
TTLS
1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
1.2 -0.755 -0.8 1.47507 -0.15 0.05 7 0 0 0.35 0 0.1 0 0 0 0 0 0 0 0 -0.07 0 0.3 0 
END_DACS
AGILENT
0
CHANNEL_1
-2
0
0
1
0
1
0
NONE
NONE
CHANNEL_2
-2
0
0
1
0
1
0
NONE
NONE
END_AGILENT
AGILENT
0
CHANNEL_1
-2
0
0
1
0
1
0
NONE
NONE
CHANNEL_2
-2
0
0
1
0
1
0
NONE
NONE
END_AGILENT
AGILENT
0
CHANNEL_1
-2
0
0
1
0
1
0
NONE
NONE
CHANNEL_2
-2
0
0
1
0
1
0
NONE
NONE
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0
-30
1
1
CHANNEL_2
0
0
-30
1
1
END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0
-30
1
1
CHANNEL_2
0
0
-30
1
1
END_TEKTRONICS
CONFIGURATION_NOTES
>>>Enter configuration-level notes here<<<

END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
0
1
1
1
0
0
1
1
0
END_DEBUGGING_OPTIONS
REPETITIONS
200
END_REPETITIONS
