Version: 2.12
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\3x6 Vertical Flash Test.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\3x6 Horizontal Flash Test.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\flashTestWithRampDownScript.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Rearranging\Initial Rearranging Tests\3x6 to 1x6 Intensity.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.02500000037253 0.02600000053644 0.02600000053644 0.02600000053644 
450 450 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
249 293 3
240 266 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
268 838
95 775
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
3 3
6 3 2
BEGIN_ACTIVE_PLOTS
3
2-Pic Histogram
2-Pic Loading
2-Pic Survival
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
5
loaddepth Constant 1
1
75
4
8
0
1
imgdepth Constant 1
1
74.5
85
5
0
1
flashdepth Constant 1
1
13
25
10
0
1
location Constant 1
1
71
94
25
0
1
movetime Variable 1
1
0
5
10
0
1
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.9 -0.8 -0.5 1.47507 -0.15 -0.1 7 0 0 0.3 0 0.1 0 0 0 0 0 0 0 0 0 -0.2 0.25 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
200
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
1
0
0
END_REARRANGEMENT_INFORMATION
