Version: 3.1
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\1 Tone Horizontal.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\simpleProbeImaging.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\intensityFor6x3.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
1
200
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
3
0 0 0 2 
0.004999999888241 0.002000000094995 0.007000000216067 0.02600000053644 
1923 1 2800 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
259 285 3
241 267 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
2000 2000
0 2000
2000 2000
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
5 5
1 1 2
BEGIN_ACTIVE_PLOTS
3
3-Pic Histogram
0
3-Pic imageHist-2
0
3-Pic imageHist-3
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
13
loadingdepth Constant 1
0
5
imagingdepth Constant 1
0
2.2
pumptime Constant 1
0
8
pushoutpower Constant 1
0
0.1
pumppower Constant 1
0
0.1
opticalpumpdepth Constant 1
0
1
probedepth Constant 1
0
4.6
probefreq Constant 1
0
0.55
loadmottime Constant 1
0
100
andorimagetime Constant 1
0
7
heatdepth Constant 1
0
0.2
probepowerdac Constant 1
0
0.01
pgcdetuning Constant 1
1
-0.76
8
0
1
-0.85
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.7 -0.8 -1.4 1.47507 -0.15 0.5 7 0 0 0.35 0 0.2 0.5 0 -0.12 0 0 0 0 0.1 0.1 -0.6 0.15 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES

END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
0
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
300
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.5
6e-05
1e-07
2
0
0
0
0
0.001
END_REARRANGEMENT_INFORMATION
