Version: 3.1
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\1 Tone Horizontal.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\simpleProbeImaging.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\intensityFor6x3.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
1
200
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
3
0 0 0 2 
0.00400000018999 0.003000000026077 0.00400000018999 0.02600000053644 
300 300 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
259 285 3
241 267 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
2000 2000
509 1182
2000 2000
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
0 0
1 1 2
BEGIN_ACTIVE_PLOTS
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
13
loadingdepth Constant 1
1
1
10
10
1
1
6
imagingdepth Constant 1
1
2
6
8
1
1
2.2
probefreq Constant 1
1
0.5
0.9
6
1
1
0.6
probedac Constant 1
1
0.01
0.3
7
1
1
0.25
probedepth Constant 1
1
2
20
12
1
1
1.5
leftcoiloffset Constant 1
1
-1
2.5
12
1
1
0
pumptime Constant 1
1
0
0
1
1
1
1
andorimagetime Constant 1
2
0
0
1
1
1
0
0
0
0
1
4
loadmottime Constant 1
4
0
0
1
1
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
100
cleantime Constant 1
5
0
0
1
1
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
1
opticalpumpdepth Constant 1
5
0
0
1
1
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
1
heatdepth Constant 1
6
0
0
1
1
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0.0001
pumppower Constant 1
7
0
0
1
1
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
1
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.7 -0.8 -1.4 1.47507 -0.15 0.5 7 0 0 0.35 0 0.2 0.5 0 -0.12 0 0 0 0 0.25 0.1 -0.6 0.15 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
300
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
END_REARRANGEMENT_INFORMATION
