Version: 3.1
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\simpleNiawg6x3.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\ProbeImaging6x3.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\intensityFor6x3ProbeImaging.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 0 2 
0.01499999966472 0.01499999966472 0.01499999966472 0.02600000053644 
450 290 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
259 285 3
228 272 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
2000 2000
346 1303
2000 2000
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
3 4
3 6 2
BEGIN_ACTIVE_PLOTS
2
2-Pic Histogram #1
0
2-Pic Histogram
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
12
loadingdepth Constant 1
1
30
100
15
0
0
63
imagingdepth Constant 1
1
20
55
10
0
0
55
opticalpumpdepth Constant 1
1
5
20
12
0
0
15
pumppower Constant 1
1
0
0
1
0
0
0.3
probedepth Constant 1
2
0
0
1
0
0
0
0
0
0
1
55
cleantime Constant 1
2
0
0
1
0
0
0
0
0
0
1
18
andorimagetime Constant 1
3
0
0
1
0
0
0
0
0
0
1
0
0
0
0
1
15
pumptime Constant 1
4
0
0
1
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
1
probefreq Constant 1
4
0
0
1
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0.62
pushoutdepth Constant 1
5
0
0
1
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
10
pushoutpower Constant 1
5
0
0
1
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0.2
imagingflashingdetuning Constant 1
6
0
0
1
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
-0.65
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.7 -0.8 -1.4 1.47507 -0.15 0.5 7 0 0 0.35 0 0.2 0.5 0 -0.12 0 0 -0.127716 0 0.29 0.1 -0.6 0.15 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Microwave Polarization Experiment\Microwave Pushout Experiment\microwavePulseCH1.aScript
0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Microwave Polarization Experiment\Microwave Pushout Experiment\modulatedMicrowavePulse2.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
500
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
END_REARRANGEMENT_INFORMATION
