Version: 3.5
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\Single_Atom_Optimization\Single_Atom_Tweezers.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\Single_Atom_Optimization\Red_Loading_SCript.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
3
1
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\Single_Atom_Optimization\Single_Atom_Intensity.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
0 0 2 2 
0.01999999955297 0.02500000037253 0.02600000053644 0.02600000053644 
380 430 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
245 264 4
281 300 4
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
273 522
161 611
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
3 3
1 1 1
BEGIN_ACTIVE_PLOTS
1
1-Pic Loading
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
RANGE-INFO
1
1
1
12
4
loadingdepth Variable 2
0.5
4
1.25
global
imagingdepth Constant 1
50
250
4.9
global
loadmottime Constant 1
1
300
150
global
loading_detuning Variable 1
-2
0.15
-2
global
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 
END_TTLS
DACS
0.742 -0.54 0.43 1.635 -0.258 0.56 7.1 0 0 0.2727453306989 0 0.26 0 0 0 0 0.1 0.2 0.26 0 0.01 -0.46 0.1803494848651 0 
END_DACS
AGILENT
0
CHANNEL_1
0
5
0
1
2000000
1



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\sweep.aScript
0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0
1
freqscannn

END_TEKTRONICS
CONFIGURATION_NOTES
 
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
1
0
END_DEBUGGING_OPTIONS
REPETITIONS
250
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
0
1e-06
0
END_REARRANGEMENT_INFORMATION
PICTURE_MANAGER
0 87
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
Basler-Settings
Continuous-Acquisition
241
351
350
250
1
1
Auto-Exposure-Off
100
5
320
150
Automatic-Software-Trigger
