Version: 3.6
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\Single_Atom_Optimization\Single_Atom_Tweezers.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\Single_Atom_Optimization\temperature_survival.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
5
1
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\Single_Atom_Optimization\temperature_survival.aScript
1
CHANNEL_2
4
0.5
1


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\Single_Atom_Optimization\Single_Atom_Intensity.aScript
1
END_AGILENT
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.01999999955297 0.02500000037253 0.02600000053644 0.02600000053644 
300 300 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
245 264 4
281 300 4
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
157 654
161 611
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
4 4
1 1 1
BEGIN_ACTIVE_PLOTS
3
2-Pic Histogram #1
0
2-Pic Loading
0
2-Pic Survival
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
RANGE-INFO
1
1
1
50
10
loadingdepth Constant 1
0.5
4
2
global
imagingdepth Constant 1
50
250
2.5
global
loadmottime Constant 1
1
300
300
global
grey_detuning Constant 1
-0.9
1.1
0.5
d1greylambdaloading
measdepth Constant 1
0
0
2
global
pushoutfreq Constant 1
0.2
1
0
global
pushout_power Constant 1
0
0
0
global
pushouttime Constant 1
0
0
0.5
global
modtime Constant 1
0
0
10
global
modfreq Variable 1
125000
400000
0
global
END_VARIABLES
TTLS
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.4856 -0.45 -0.45 0.551 -1.994 1.943 0 0 0 0.2806581325278 0 0.2 0 0 0 0 0.1 0.2 0.178 0 0.01 -0.46 0.1917481909982 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0
1
2000000
1



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\sweep.aScript
0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
1
0
-27
100000

CHANNEL_2
0
0
1
freqscannn

END_TEKTRONICS
CONFIGURATION_NOTES
 
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
600
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
Lazy
1e-06
END_REARRANGEMENT_INFORMATION
PICTURE_MANAGER
0 126
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
Basler-Settings
Continuous-Acquisition
241
351
350
250
1
1
Auto-Exposure-Off
100
5
320
150
External-Trigger
