Version: 4.4
SCRIPTS
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\TOF_Imaging\3x3_wider_niawg.nScript
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\TOF_Imaging\pushoutTest.mScript
END_SCRIPTS
INTENSITY_AGILENT_AWG
0
CHANNEL_1
script

0


0



0

0
C:\Users\Regal-Lab\Code\Chimera-Control\Profiles\TOF_Imaging\Pushout_intensity.aScript
1
CHANNEL_2
no_control

0


0



0

0

0
END_INTENSITY_AGILENT_AWG
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0.1000000014901
9.999999778196e+22
1
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.01999999955297 0.01999999955297 0.02600000053644 0.02600000053644 
C:\Users\Regal-Lab\Code\Data_Analysis_Control\T_File.txt C:\Users\Regal-Lab\Code\Data_Analysis_Control\T_File.txt 100 100 
0 1 0 1 0 1 0 1 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
268 318 3
211 261 3
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
80 400
80 400
95 395
95 395
0 0 0 0 END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
1
1
3 3
3 3 6
BEGIN_ACTIVE_PLOTS
2
2-Pic Loading
0
2-Pic Survival
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
CONFIG_PARAMETERS
RANGE-INFO
1
1
1
1
11
6
loadingdepth Constant 0
2
100
75
global
imagingdepth Constant 0
0
0
75
global
stage2depth Constant 0
0
0
25
global
pushoutdepth Constant 0
0
15
0.3
global
pushoutfreq Variable 0
0
0.8
0.5764
pushout
opdepth Constant 0
2
69
50
global
END_CONFIG_PARAMETERS
TTLS
END_TTLS
DACS

END_DACS
TOP_BOTTOM_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_TOP_BOTTOM_AGILENT_AWG
AXIAL_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_AXIAL_AGILENT_AWG
FLASHING_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_FLASHING_AGILENT_AWG
MICROWAVE_AGILENT_AWG
0
CHANNEL_1
no_control

0


0



0

0

0
CHANNEL_2
no_control

0


0



0

0

0
END_MICROWAVE_AGILENT_AWG
TOP_BOTTOM_TEKTRONICS_AFG
CHANNEL_1
0
0
0



CHANNEL_2
0
0
0



END_TOP_BOTTOM_TEKTRONICS_AFG
EO_AXIAL_TEKTRONICS_AFG
CHANNEL_1
0
0
0



CHANNEL_2
0
0
0



END_EO_AXIAL_TEKTRONICS_AFG
CONFIGURATION_NOTES
asdf
 
f  
 

END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
50
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1
0.3
0.06
0
1
0
0
0
0
1
Lazy
2
END_REARRANGEMENT_INFORMATION
BASLER_PICTURE_MANAGER
0 288
95 395
95 395
95 395
1 0 0 0 END_BASLER_PICTURE_MANAGER
BASLER_CAMERA_SETTINGS
Continuous-Acquisition
1
493
500
1
1
1
Auto-Exposure-Off
100
40
260
1
External-Trigger
END_BASLER_CAMERA_SETTINGS
