Version: 3.6
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\7Array.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\D1GrayLambdaLoading.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\D1GrayLoading.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 0 2 
0.01999999955297 0.004999999888241 0.004999999888241 0.02600000053644 
360 320 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
216 307 4
236 327 4
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
98 434
588 1112
763 2000
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
6 6
7 7 2
BEGIN_ACTIVE_PLOTS
2
2-Pic Histogram #1
0
2-Pic Histogram
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
RANGE-INFO
1
1
1
12
13
loadingdepth Constant 1
70
170
92.2
global
imagingdepth Constant 1
50
250
100
global
loadmottime Constant 1
1
500
250
global
rsfreq Constant 1
-1
1
0.158
global
rspow Constant 1
-15
5
5
global
grey_detuning Constant 1
-0.8
1.1
0.4
d1greylambdaloading
cooling_time Constant 1
10
200
200
d1greylambdaloading
d1twototwoppower Constant 1
0.1
0.25
0.183
d1greylambdaloading
time Constant 1
30
800
30
global
opticalpumpdepth Constant 1
30
120
40
global
andorimagetime Constant 1
0.1
1.5
20
global
stateimagingdepth Constant 1
0
0
250
global
pushoutfreq Constant 1
0
1.5
0.682
global
END_VARIABLES
TTLS
0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.584 -0.664 0.392 1.64 -0.227 0.538 7.1 0 0 0 0 0.2 0.5 0 -0.12 0 0.1 0.2 0.183 0.6 0.01 -0.46 0.3 0 
END_DACS
AGILENT
0
CHANNEL_1
-2
5
0
1
2000000
1



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Grey-Molasses-Loading\D1\sweep.aScript
0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Atom Loading and Imaging\testMicrowavePulse.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0
1
freqscannn

END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
500
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
Lazy
END_REARRANGEMENT_INFORMATION
END_REARRANGEMENT_INFORMATION
PICTURE_MANAGER
0 110
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
Basler-Settings
Continuous-Acquisition
200
390
350
200
1
1
Auto-Exposure-Off
1000
0.25
320
10
External-Trigger
