Version: 3.0
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\3 Tone Horizontal.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\test2jjj.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
1
0
0
0
0
0
0
0
0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Probe Imaging\intensityFor6x3.aScript
1
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 2 2 
0.02500000037253 0.02500000037253 0.02600000053644 0.02600000053644 
420 420 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
259 285 3
241 267 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
68 479
121 446
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
3 3
3 3 2
BEGIN_ACTIVE_PLOTS
3
2-Pic Histogram
2-Pic Loading
2-Pic Survival
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
8
loadingdepth Constant 1
1
30
100
15
0
0
65
imagingdepth Constant 1
1
5.67
5.8
12
0
0
28
opticalpumpdepth Constant 1
1
0
10
12
0
0
5
pushoutdepth Variable 1
1
0
5
10
0
0
5
repumpfreqscan Constant 1
1
-3
0.9
12
0
0
-0.485
pumppower Constant 1
1
0
0
1
0
0
0.3
pumptime Constant 1
1
0
0
1
0
0
1
pushoutpower Constant 1
1
0
0
1
0
0
0
END_VARIABLES
TTLS
1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 
1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.7 -0.8 -1.4 1.47507 -0.15 0.5 7 0 0 0.35 0 0.1 0.76 0 -0.12 0 0 -0.127716 0 0 0.1 -0.6 0.15 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Microwave Polarization Experiment\Microwave Pushout Experiment\microwavePulseCH1.aScript
0
CHANNEL_2
-2

0


0



0

0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Microwave Polarization Experiment\Microwave Pushout Experiment\modulatedMicrowavePulse2.aScript
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
100
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
END_REARRANGEMENT_INFORMATION
