Version: 2.10
SCRIPTS
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Trap Calibrations\Varying Vertical.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Trap Calibrations\Varying Horizontal.nScript
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Trap Calibrations\Basic Pushout.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
4
0
0
0
1
0
0
1
0
0
NONE
0
C:\Users\Regal-Lab\Documents\Chimera-Control\Profiles\Basic Atom Calibrations\Trap Calibrations\pushout.aScript
1
CHANNEL_2
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
END_AGILENT
CAMERA_SETTINGS
External Trigger
0
0
Kinetic Series Mode
0
0
0
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
2
0 0 0 0 
0.02500000037253 0.02500000037253 0.02500000037253 0.02500000037253 
500 500 200 200 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
249 293 3
240 266 3
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
103 688
129 655
0 1000
0 1000
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
3 3
6 3 2
BEGIN_ACTIVE_PLOTS
2
2-Pic Histogram
2-Pic Survival
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
7
loadingdepth Constant 1
1
3.5
0
1
1
1
horfreq Variable 3
1
49
94
6
1
1
vertfreq Variable 2
1
71
89
3
1
1
pushoutdepth Variable 1
1
0.6
5
8
1
1
pushoutfreq Constant 1
1
1
0
1
1
1
dropdepth Constant 1
1
0.25
0
1
1
1
pushouttime Constant 1
1
0.08
0
1
0
1
END_VARIABLES
TTLS
1 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.8 -0.755 -0.6 1.47507 -0.15 0.25 7 0 0 0.3 0 0.1 0 0 0 0 0 0 0 0 -0.07 0 0.25 0 
END_DACS
AGILENT
0
CHANNEL_1
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
CHANNEL_2
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
END_AGILENT
AGILENT
0
CHANNEL_1
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
CHANNEL_2
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
END_AGILENT
AGILENT
0
CHANNEL_1
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
CHANNEL_2
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
END_AGILENT
AGILENT
0
CHANNEL_1
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
CHANNEL_2
-2
0
0
0
1
0
0
1
0
0
NONE
0
NONE
0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0
-30
1
1
CHANNEL_2
0
0
-30
1
1
END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0
-30
1
1
CHANNEL_2
0
0
-30
1
1
END_TEKTRONICS
CONFIGURATION_NOTES
>>>Enter configuration-level notes here<<<
 
END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
1
1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
0
0
0
0
0
0
0
0
0
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
300
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1
0.0003
60000
7.5e-08
1
0
END_REARRANGEMENT_INFORMATION
