Version: 3.5
SCRIPTS
C:\Users\Mark-Brown\Code\Chimera-Control\Profiles\Hotkey Experiments\MOT\none.nScript
C:\Users\Mark-Brown\Code\Chimera-Control\Profiles\Hotkey Experiments\MOT\turnonmot.mScript
END_SCRIPTS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
CAMERA_SETTINGS
External-Trigger
0
0
Kinetic-Series-Mode
0.1000000014901
0
1
0
END_CAMERA_SETTINGS
PICTURE_SETTINGS
1
2 2 2 2 
-431602080 0.02600000053644 0.02600000053644 0.02600000053644 
100 100 100 100 
END_PICTURE_SETTINGS
CAMERA_IMAGE_DIMENSIONS
1 5 1
1 5 1
END_CAMERA_IMAGE_DIMENSIONS
PICTURE_MANAGER
95 395
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
BEGIN_DATA_ANALYSIS
1
0 0
0 0 0
BEGIN_ACTIVE_PLOTS
1
1-Pic Loading
0
END_ACTIVE_PLOTS
END_DATA_ANALYSIS
VARIABLES
RANGE-INFO
1
0
1
1
2
wasd Variable 1
0
0
0
global
aaaa Variable 1
0
0
0
global
END_VARIABLES
TTLS
1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTLS
DACS
0.8613 -0.65 -0.7 2 -0.15 0.3 7 0 0 0.232268 0 0.2 0 0 0 0 0 0 0 0 0.05 -0.6 0.135336 0 
END_DACS
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
AGILENT
0
CHANNEL_1
-2

0


0



0

0

0
CHANNEL_2
-2

0


0



0

0

0
END_AGILENT
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
TEKTRONICS
CHANNEL_1
0
0



CHANNEL_2
0
0



END_TEKTRONICS
CONFIGURATION_NOTES


END_CONFIGURATION_NOTES
MAIN_OPTIONS
0
0
-1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
1
1
1
1
1
0
0
1
1
0
0
END_DEBUGGING_OPTIONS
REPETITIONS
100
END_REPETITIONS
REARRANGEMENT_INFORMATION
0
1000000
0.3
6e-05
0
1
0
0
0
0
0.001
0
1e-06
0
END_REARRANGEMENT_INFORMATION
PICTURE_MANAGER
95 395
95 395
95 395
95 395
0 0 0 0 END_PICTURE_MANAGER
Basler-Settings
Continuous-Acquisition
1
512
672
1
1
1
Auto-Exposure-Off
1000
2
260
3435973836
Automatic-Software-Trigger
